<!-- Header -->
<%- include("../partials/admin-side/admin-universal-header.ejs",{title : "Admin - Order Management"}) %>
<!-- Navbar -->
<%- include("../partials/admin-side/navbar.ejs") %>
<!-- Sidebar -->
<%- include("../partials/admin-side/sidebar.ejs",{customerBtn : "",categoriesBtn : "",brandsBtn : "",productsBtn : "", ordersBtn : "active disabled",offersBtn : "",couponsBtn : "",reportsBtn : ""}) %>
  <!-- Main Content -->
  <div class="main-content">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold text-gray-800">Orders</h1>
      <div class="relative">
        <form autocomplete="off" action="/admin/orders" method="post">
            <input type="search" placeholder="Which order are you looking for ?" name="search" 
               class="productSearchBar border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent" data-search>
             <div id="productSearchResultBox" data-product-container>  
             </div>
        <i id="search-icon" class="fas fa-search absolute right-3 top-3 text-gray-500"></i>
        </form>
      </div>
      <template data-product-template>
        <div id="product-list-item"  >
         <span class="ml-2 " data-header ></span>
        </div>
      </template>  


        
    </div>
    
  
    <div class="flex justify-end mb-4">
      <div class="flex items-center gap-2">
        <form autocomplete="off" action="/admin/items-per-page" method="post">
        <span class="text-md text-gray-600">Items per page:</span>
        <select name="itemsPerPage" class="border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-2 focus:ring-green-500">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <button type="submit" class="tick-primary font-medium text-gray-700   rounded-md transition duration-300 ">
          <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="tick">
              <polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" points="2.75 8.75 6.25 12.25 13.25 4.75" />
            </svg>
          </div>
        </button>
       </form>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow overflow-x-auto">
      <table class="min-w-full table-fixed divide-y divide-gray-200">
        <thead class="bg-green-50">
          <tr>
            <th scope="col" class="px-3 py-3 text-center text-xs font-semibold  text-green-800 uppercase tracking-wider">No</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold  text-green-800 uppercase tracking-wider">Order ID</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Customer</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Date</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Items</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Amount</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Payment Method</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Payment Status</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Order Status</th>
            <th scope="col" class="px-2 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider w-[110px]">Actions</th>
          
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
         <% if (orders.length > 0) { %>
          <% for(let i = 0; i < orders.length; i++ ) { %>
            <% let sumOfQuantity = 0 %>
           
              <tr>
               
                <td class="px-2 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                  <%= i + 1 %>
                </td>
             
                <!-- Product info (image + name) only for first variant -->
                <td class="px-2 py-4 whitespace-wrap text-center">
                  <div class="flex items-center justify-center">
                    
                    <div>
                    
                        <div class="text-sm font-medium uppercase text-gray-900">
                       <%= orders[i].orderId %>
                        </div>
                      

                      
                    </div>
                  </div>
                </td>
                
        
              
                <td class="px-2 py-4 whitespace-nowrap  text-sm text-center text-gray-500">
                  <%= orders[i].userId.firstName %> <%= orders[i].userId.lastName %>
                </td>
                <td class="px-2 py-4 whitespace-nowrap  text-sm text-center text-gray-500">
                  <%= new Date(orders[i].statusTimeline.orderedAt).toLocaleDateString("en-IN", {
                    day: "numeric",
                    month: "short",
                    year: "numeric"
                }) %> • <%= new Date(orders[i].statusTimeline.orderedAt).toLocaleTimeString('en-US', { 
                        hour: '2-digit', 
                        minute: '2-digit', 
                        hour12: true 
                    }) %>
                </td>
        
                <!-- Variant-specific details -->
                <td class="px-2 py-2 text-center whitespace-nowrap text-sm font-large text-gray-500">
                 
                  <% for( let j = 0; j < orders[i].items.length; j++ ) { %>
                    <% if (!orders[i].items[j].isCancelled) { %>
                      <% sumOfQuantity += orders[i].items[j].quantity %>
                   <% } %>
                  <% } %>
                     
                       
               
                  <%= sumOfQuantity %>
                </td>
                <td class="px-2 py-2 whitespace-nowrap text-sm text-center font-large text-gray-500">
                  $ <%= orders[i].grandTotal %> 
                </td>
                <td class="px-2 py-2 whitespace-nowrap text-sm text-center font-large text-gray-500">
                   <%= orders[i].paymentId.paymentMethod %> 
                </td>
                <td class="px-2 py-6 text-center text-sm whitespace-nowrap">
                  <span class="px-3 py-1 rounded-full text-sm font-bold whitespace-nowrap inline-block
                        <%= orders[i].paymentId.status === 'Pending' ? 'bg-yellow-100 text-yellow-700' :
                      orders[i].paymentId.status === 'Paid Successfully' ? 'bg-green-100 text-green-700' :
                      orders[i].paymentId.status === 'Payment Failed' ? 'bg-red-100 text-red-700' : 
                      'bg-gray-100 text-gray-700' %>">
                        <%= orders[i].paymentId.status %>
                   </span>
                </td>
        
                <!-- Status (only once for product) -->
                <td class="px-2 py-6 text-center text-sm whitespace-nowrap">

                  
                    
                  <span class="px-3 py-1 rounded-full text-sm font-bold whitespace-nowrap inline-block

                              <%= orders[i].status[orders[i].status.length - 1] === 'Pending' ? 'bg-gray-100 text-gray-700' :
                             orders[i].status[orders[i].status.length - 1] === 'Processed' ? 'bg-yellow-100 text-yellow-700' : 
                             orders[i].status[orders[i].status.length - 1] === 'Shipped' ? 'bg-blue-100 text-blue-700' : 
                              orders[i].status[orders[i].status.length - 1] === 'Delivered' ? 'bg-green-100 text-green-700' : 
                            orders[i].status[orders[i].status.length - 1] === 'Cancelled' ? 'bg-red-100 text-red-700' :
                            orders[i].status[orders[i].status.length - 1] === 'Return Order Requested' ? 'bg-yellow-400  text-black' :
                             'bg-gray-100 text-gray-700' %>">
                              <%= orders[i].status[orders[i].status.length - 1] %>
                    </span>
                
                </td>
        
                <!-- Actions only once -->
                <td class="px-2 py-4 text-center text-sm text-gray-500 w-[110px] whitespace-nowrap">
                    <a href="/admin/orders/<%= orders[i]._id %>">
                      <button type="button" class="text-black flex items-center gap-1 border shadow-md px-2 py-2 rounded-lg whitespace-nowrap min-w-[70px]">
                    
                        <i data-feather="eye" class="w-4 h-4 mr-1"></i> View 
                      </button>
                    </a>
                    
                </td>
              </tr>
           <% } %>
         <% } else {%>
          
          <tr>
            <td></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
             No Orders Yet !
            </td>
          </tr>
          
          <% } %>
           
          </tbody>
      </table>
    </div>

     

    <!-- Pagination -->
    <div class="flex items-center justify-between mt-4">
      <div class="text-sm text-gray-500">
        Showing <span class="font-medium">1</span> to <span class="font-medium"><%= orders.length %></span> of <span class="font-medium"><%= count %></span> results
      </div>
      <div class="flex space-x-2">
        
        <a href="/admin/orders?page=<%= Number(page) > 1 ? Number(page) - 1 : 1 %>">
          <% if (Number(page) === 1) { %>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" disabled>
              Previous
            </button>
          <% } else {%>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" >
              Previous
            </button>
            <% } %>
        
       </a>
        <% let i = Number(page) > 4 ? Number(page) - 3 : 1 %>
        <% for(;i <= pages; i++ ) { %>
        <a href="/admin/orders?page=<%= i %>">
          <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-white bg-green-600 hover:bg-green-700">
            <%= i %>
          </button>
        </a>
        <% } %>
        <a href="/admin/orders?page=<%= Number(page) < pages ? Number(page) + 1 : pages %>">
          <% if (Number(page) === pages || Number(page) === 1) { %>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" disabled>
              Next
            </button>
          <% } else {%>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" >
              Next
            </button>
            <% } %>
        
       </a>
      </div>
    </div>
  </div>

 
  <!-- Script.js -->
<%- include("../../public/javascript/admin-javascript/productPageScript.ejs")%>