<!-- Header -->
<%- include("../partials/admin-side/admin-universal-header.ejs",{title : "Admin - Offer Management"}) %>
<!-- Navbar -->
<%- include("../partials/admin-side/navbar.ejs") %>
<!-- Sidebar -->
<%- include("../partials/admin-side/sidebar.ejs",{customerBtn : "",categoriesBtn : "",brandsBtn : "",productsBtn : "",ordersBtn : "",offersBtn : "active disabled",couponsBtn : "",reportsBtn : ""}) %>
  <!-- Main Content -->
  <div class="main-content">
    <input type="text" id="serverMessage" value="<%= (message) ? message : '' %>" hidden>
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold text-gray-800">Offers</h1>
      <!-- <div class="relative">
        <form autocomplete="off" action="/admin/products" method="post">
            <input type="search" placeholder="Whom are you looking for ?" name="search" 
               class="productSearchBar border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent" data-search>
             <div id="productSearchResultBox" data-product-container>  
             </div>
        <i id="search-icon" class="fas fa-search absolute right-3 top-3 text-gray-500"></i>
        </form>
      </div> -->
      <template data-product-template>
        <div id="product-list-item"  >
         <span class="ml-2 " data-header ></span>
        </div>
      </template>  


         <a href="/admin/offers/add-offer">
            <button class="addBtn-primary  font-medium text-gray-700 py-2 px-3  rounded-md transition duration-300 ">
                <i class="fa fa-plus text-gray-700"></i>
                Add Offer
              </button>
         </a>
    </div>
    
  
    <div class="flex justify-end mb-4">
      <div class="flex items-center gap-2">
        <form autocomplete="off" action="/admin/items-per-page" method="post">
        <span class="text-md text-gray-600">Items per page:</span>
        <select name="itemsPerPage" class="border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-2 focus:ring-green-500">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <button type="submit" class="tick-primary font-medium text-gray-700   rounded-md transition duration-300 ">
          <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="tick">
              <polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" points="2.75 8.75 6.25 12.25 13.25 4.75" />
            </svg>
          </div>
        </button>
       </form>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow overflow-hidden">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-green-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold  text-green-800 uppercase tracking-wider">No</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold  text-green-800 uppercase tracking-wider">Offer Name</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Discount Type</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Applicable On</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Starts On</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Expires On</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Status</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <% for(let i = 0; i < offers.length; i++ ) { %>
              
              
                <tr>
                  
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                    <%= i + 1 %>
                  </td>
                  
                  <!-- Product info (image + name) only for first variant -->
                  <td class="px-6 py-4 whitespace-wrap text-center">
                    <div class="flex items-center justify-center">
                      <div class="flex-shrink-0 h-14 w-14">
                        <% if (offers[i].bannerImage === null) { %>
                          <img class="h-14 w-14 border-2 border-green-700 rounded-full" src="/images/Special Offer.png" alt="">
                        <% } else {%>
                          <img class="h-14 w-14 border-2 border-green-700 rounded-full" src="<%= offers[i].bannerImage %>" alt="">
                          <% } %>
                        
                      </div>
                      <div class="ml-4 ">
                        
                        <% if (offers[i].offerName.length > 25) { %>
                          <% let offerName = offers[i].offerName.slice(0,19) %>
                          <div class="text-sm font-medium uppercase text-gray-900">
                         <%=  offerName %><span class="text-lg font-semibold"> . . .</span>
                          </div>
                        <% } else { %>
                          <div class="text-sm font-medium uppercase text-gray-900">
                         <%= offers[i].offerName %>
                          </div>
                          <% } %>

                        
                      </div>
                    </div>
                  </td>
                  
          
                
                  <td class="px-6 py-4 whitespace-nowrap uppercase text-sm text-center text-gray-500">
                    <%= offers[i].discountType %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap uppercase text-sm text-center text-gray-500">
                    <%= offers[i].applicableOn %>
                  </td>
          
                  <!-- Variant-specific details -->
                  <td class="px-6 py-2 whitespace-nowrap text-sm text-center font-large text-gray-500">

                    <%= new Date(offers[i].startDate).toLocaleDateString("en-US",{day: "numeric",month: "short",year: "numeric"}) %>, <%= new Date(offers[i].startDate).toLocaleTimeString('en-US', {   hour: '2-digit',minute: '2-digit',  hour12: true , timeZone : timezone}) %>
                  </td>
                  <td class="px-6 py-2 whitespace-nowrap text-sm text-center font-large text-gray-500">
                    <%= new Date(offers[i].endDate).toLocaleDateString("en-US", {day: "numeric",month: "short",year: "numeric"}) %>, <%= new Date(offers[i].endDate).toLocaleTimeString('en-US', {   hour: '2-digit',minute: '2-digit',  hour12: true, timeZone : timezone }) %>
                  </td>
                 

            
                  <td class="px-6 py-2 whitespace-nowrap text-center text-sm font-large text-gray-500">
                      <% let now = new Date() %>
                      <% if (offers[i].startDate <= now && offers[i].endDate >= now) { %>
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Active</span>
                      <% } else if (offers[i].startDate > now) { %>
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">Upcoming</span>
                        <% } else if (offers[i].startDate < now && offers[i].endDate < now){  %>
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">Inactive</span> 
                      <% } %>
                  
                  </td>
          
                  <!-- Actions only once -->
                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                      <a href="/admin/offers/edit-offer?id=<%= offers[i]._id %>">
                        <button title="Edit" class="text-cyan-500 hover:text-cyan-700 mr-3 " >
                          <i class="fas fa-edit"></i>
                        </button>
                      </a>
                      
                      <button title="Delete" type="button"
                          class="text-red-600 hover:text-red-900 delete-user-btn">
                        <i class="fas fa-trash" onclick="deleteOffer('<%= offers[i]._id %>')"></i>
                      </button>
                  </td>
                </tr>
              <% } %>
         
          </tbody>
      </table>
    </div>

     

    <!-- Pagination -->
    <div class="flex items-center justify-between mt-4">
      <div class="text-sm text-gray-500">
        Showing <span class="font-medium">1</span> to <span class="font-medium"><%= offers.length %></span> of <span class="font-medium"><%= count %></span> results
      </div>
      <div class="flex space-x-2">
        
        <a href="/admin/offers?page=<%= Number(page) > 1 ? Number(page) - 1 : 1 %>">
          <% if (Number(page) === 1) { %>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" disabled>
              Previous
            </button>
          <% } else {%>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" >
              Previous
            </button>
            <% } %>
        
       </a>
        <% let i = Number(page) > 4 ? Number(page) - 3 : 1 %>
        <% for(;i <= pages; i++ ) { %>
        <a href="/admin/offers?page=<%= i %>">
          <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-white bg-green-600 hover:bg-green-700">
            <%= i %>
          </button>
        </a>
        <% } %>
        <a href="/admin/offers?page=<%= Number(page) < pages ? Number(page) + 1 : pages %>">
          <% if (Number(page) === pages) { %>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" disabled>
              Next
            </button>
          <% } else {%>
            <button class="px-3 py-1 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50" >
              Next
            </button>
            <% } %>
        
       </a>
      </div>
    </div>
  </div>

 
  <!-- Script.js -->
<script>
  feather.replace()
  const serverMessage = document.getElementById("serverMessage").value
  if(serverMessage === "Offer Updated Successfully"){
    iziToast.success({
      title : "Offer",
      message : serverMessage,
      position : "topRight"
    })
  }
  

  function deleteOffer(offerId){
    iziToast.question({
        theme : "light",
        title : "Delete Offer",
        message : "Are you sure you want to delete the Offer ?",
        position : "topCenter",
        overlay : true,
        close : false,
        id : "deleteOffer",
        zindex : 9999,
        timeout : 30000,
        backgroundColor : "white", 
        buttons : [
            ["<button>OK</button>",function(instance,toast){
                instance.hide({transitionOut : "fadeOut"},toast,'button')

                fetch(`/admin/offers/delete-offer?id=${offerId}`,{method : "DELETE"})
                .then(res => res.json() )
                .then(data => {
                    iziToast.error({
                      title : "Offer" ,
                      message : data.message,
                      position : "topRight"
                  })
                  setTimeout(() => {
                    window.location.href = "/admin/offers" 
                  },3000)
                
                })
                .catch(error => iziToast.error({
                    title : error.name ,
                    message : error.message,
                    position : "topRight"
                }))

            }],
            ["<button>Cancel</button>",function(instance,toast){
                instance.hide({transitionOut : "fadeOut"},toast,'button')
                console.log("Deletion Cancelled")
            }]
        ]
    })
  }

</script>