<!-- Header -->
<%- include("../partials/admin-side/admin-universal-header.ejs",{title : "Admin - User Results"}) %>
<!-- Navbar -->
<%- include("../partials/admin-side/navbar.ejs") %>
<!-- Sidebar -->
<%- include("../partials/admin-side/sidebar.ejs",{customerBtn : "",
categoriesBtn : "",
brandsBtn : "",
productsBtn : "active disabled"}) %>

  <!-- Main Content -->
  <div class="main-content">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold text-gray-800">Results</h1>
      <div class="relative">
        <a href="/admin/products">
          <button  class="btn-primary w-full font-bold text-gray-700 py-2 px-4 rounded-lg  transition duration-300">
          Clear Results
        </button>  </a> 
      </div>
    </div>

    <div class="bg-white rounded-lg shadow overflow-hidden">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-green-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold  text-green-800 uppercase tracking-wider">No</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold  text-green-800 uppercase tracking-wider">Product</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Category</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Brand</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Price</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Stock Qty</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Status</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-semibold text-green-800 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <% for(let i = 0; i < products.length; i++ ) { %>
              
              <% for(let j = 0; j < products[i].variants.length; j++ ) { %>
                <tr>
                  <!-- Product index only for the first variant -->
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                    <%= i + 1 %>
                  </td>
          
                  <!-- Product info (image + name) only for first variant -->
                  <td class="px-6 py-4 whitespace-wrap text-center">
                    <div class="flex items-center justify-center">
                      <div class="flex-shrink-0 h-14 w-14">
                        <img class="h-14 w-14 border-2 border-green-700 rounded-full" src="<%= products[i].variants[j].productImages[0] %>" alt="">
                      </div>
                      <div class="ml-4 ">
                        
                        <% if (products[i].productName.length > 25) { %>
                          <% let productName = products[i].productName.slice(0,19) %>
                          <div class="text-sm font-medium uppercase text-gray-900">
                         <%=  productName %><span class="text-lg font-semibold"> . . .</span>
                          </div>
                        <% } else { %>
                          <div class="text-sm font-medium uppercase text-gray-900">
                         <%= products[i].productName %>
                          </div>
                          <% } %>

                        
                      </div>
                    </div>
                  </td>
                  
          
                  <!-- Category & Brand only once -->
                  
                  <td class="px-6 py-4 whitespace-nowrap  text-sm text-center text-gray-500">
                    <%= products[i].categoryId.categoryName %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap  text-sm text-center text-gray-500">
                    <%= products[i].brandId.brandName %>
                  </td>
          
                  <!-- Variant-specific details -->
                  <td class="px-6 py-2 whitespace-nowrap text-sm text-center font-large text-gray-500">
                    <%= products[i].variants[j].price %> $
                  </td>
                  <td class="px-6 py-2 text-center whitespace-nowrap text-sm font-large text-gray-500">
                    <%= products[i].variants[j].stockQuantity %>
                  </td>
          
                  <!-- Status (only once for product) -->
                  <td class="px-6 py-2 whitespace-nowrap text-center text-sm font-large text-gray-500">
                    
                      <% if (!products[i].isDeleted) { %>
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Active</span>
                      <% } else { %>
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">Inactive</span> 
                      <% } %>
                  
                  </td>
          
                  <!-- Actions only once -->
                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                    <% if (j === 0) { %>
                      <a href="/admin/edit-product?id=<%= products[i]._id %>">
                        <button title="Edit" class="text-cyan-500 hover:text-cyan-700 mr-3 unblock-user-btn" >
                          <i class="fas fa-edit"></i>
                        </button>
                      </a>
                      <button title="Restore" onclick="restoreProduct('<%= products[i]._id %>')" 
                          class="text-green-600 hover:text-green-900 mr-3 unblock-user-btn" >
                        <i class="fas fa-check-circle"></i>
                      </button>
                      <button title="Delete" onclick="areYouSure('<%= products[i]._id %>')" 
                          class="text-red-600 hover:text-red-900 delete-user-btn">
                        <i class="fas fa-trash"></i>
                      </button>
                    <% } %>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
      </table>
    </div>

     
    <!-- Pagination -->
    <div class="flex items-center justify-between mt-4">
      <div class="text-sm text-gray-500">
        Showing <span class="font-medium"><%= products.length %></span><span class="font-medium"></span> results
      </div>
    </div>
  </div>

 
   <script>
       feather.replace();
    document.addEventListener('DOMContentLoaded', () => {
        let userLog = document.getElementById("userLogged")?.value
    console.log(userLog)
    if(userLog){
        iziToast.show({
        title : "Notification",
        message: userLog,
        messageColor: '#ffffff !important',
        position: 'topCenter',
        backgroundColor: "#4f46e5", 
        titleColor: '#ffffff',
        
     })
    }

    });
    function blockUser(id){
        if(confirm("Are you sure ? Do you Want to block the User ?")){
            window.location.href = "/admin/block-user?id="+id
        }
    }
    function unblockUser(id){
        if(confirm("Are you sure ? Do you Want to Unblock the User ?")){
            window.location.href = "/admin/unblock-user?id="+id
        }
    }
    function areYouSure(id){
        if(confirm("Are you sure ? Do you Want to delete the User ?")){
            window.location.href = "/admin/delete-user?id="+id
        }
    }
    
    
 </script>
</body>
</html>