<!-- Header -->
<%- include("../partials/admin-side/admin-universal-header.ejs",{title : "Admin - Order Management"}) %>
<!-- Navbar -->
<%- include("../partials/admin-side/navbar.ejs") %>
<!-- Sidebar -->
   <div class="main-content">
    <div id="updationOverlay" class="absolute flex justify-center  w-full h-[150vh] opacity-50 z-[99] top-[4rem] left-0 bg-black hidden">
        <h1 class="text-white text-5xl mt-[20rem]">Updating ...</h1>
    </div>
    </div>
        <div class="w-full px-10 ">
            <input type="text" id="serverMessage" value="<%= message ? message : ' ' %>" hidden>
            <div class="flex justify-between items-center mb-8 ">
                <div>
                    <h1 class="text-3xl font-bold">Order Details</h1>
                    <p class="text-gray-600">Order <%= order.orderId %> • Placed on <%= new Date(order.createdAt).toLocaleDateString("en-IN", {
                                    day: "numeric",
                                    month: "short",
                                    year: "numeric"
                                })%></p>
                </div>
                <div class="flex">
                    <a href="/admin/orders">
                        <button type="button" class="px-2 py-2 bg-green-400  text-black rounded-md hover:bg-green-300 flex items-center" >
                            <i data-feather="arrow-left" class="w-4 h-4 mr-1"></i>Back to Orders
                        </button> 
                    </a>
                </div>
                
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-8">
                
                <div class="lg:col-span-2">
                    <div class="order-card p-6 mb-6 border">
                        <div class="flex justify-between items-center mb-6">
                            <h2 class="text-xl font-bold ">Order Summary</h2>
                            <div class="flex items-center">
                            
                                <span class="px-3 py-1 rounded-full text-sm font-bold
                                <%= order.status[order.status.length - 1] === 'Pending' ? 'bg-gray-100 text-gray-700' :
                            order.status[order.status.length - 1] === 'Processed' ? 'bg-yellow-100 text-yellow-700' : 
                            order.status[order.status.length - 1] === 'Shipped' ? 'bg-blue-100 text-blue-700' : 
                                order.status[order.status.length - 1] === 'Delivered' ? 'bg-green-100 text-green-700' : 
                            order.status[order.status.length - 1] === 'Cancelled' ? 'bg-red-100 text-red-700' :
                            order.status[order.status.length - 1] === 'Return Order Requested' ? 'bg-yellow-400 text-black' :
                          order.status[order.status.length - 1] === 'Approved Return Request' ? 'bg-green-400 text-black' :
                          order.status[order.status.length - 1] === 'Declined Return Request' ? 'bg-red-400 text-black' :
                          order.status[order.status.length - 1] === 'Item Return Requested' ? 'bg-yellow-400 text-black' :
                          order.status[order.status.length - 1] === 'Item Return Approved' ? 'bg-green-400 text-black' :
                          order.status[order.status.length - 1] === 'Item Return Declined' ? 'bg-red-400 text-black' :
                            'bg-gray-100 text-gray-700' %>">
                                <%= order.status[order.status.length - 1] %>
                            </span>
                            
                            </div>
                            
                        </div>

                    
                        <div class="divide-y divide-gray-200">
                            <% for( let i = 0; i < order.items.length; i++ ) { %>
                                <div class="py-4 flex items-center">
                                    <% if (!order.items[i].isCancelled && !order.isCancelled) { %>
                                        <img src="<%= order.items[i].productImage %>" class="product-image border rounded" alt="Product">
                                        <div class="py-4 flex flex-wrap items-center w-[50%]">
                                            <div class="ml-4 flex-1 ">
                                                <h4 class="font-medium"><%= order.items[i].productName %></h4>
                                                <p class="text-sm text-black">Color: <%= order.items[i].color %></p>
                                                <p class="text-sm text-black">Size: <%= order.items[i].size %></p>
                                                <p class="text-sm text-black mt-1">Qty: <%= order.items[i].quantity %></p>
                                                <p class="font-medium text-black">Price : $<%= order.items[i].offerPrice %></p>
                                            </div>
                                            
                                        </div>
                                    <% } else {%>
                                        <img src="<%= order.items[i].productImage %>" class="product-image border rounded opacity-50" alt="Product">
                                        <div class="py-4 flex flex-wrap items-center w-[50%]">
                                        
                                            <div class="ml-4 flex-1 ">
                                                <h4 class="font-medium text-gray-400"><%= order.items[i].productName %></h4>
                                                <p class="text-sm text-gray-400">Color: <%= order.items[i].color %></p>
                                                <p class="text-sm text-gray-400">Size: <%= order.items[i].size %></p>
                                                <p class="text-sm text-gray-400 mt-1">Qty: <%= order.items[i].quantity %></p>
                                                <p class="font-medium text-gray-400">Price : $<%= order.items[i].offerPrice %></p>
                                            </div>
                                        
                                        </div>
                                    <% } %>
                                    <% if(order.status[order.status.length - 1] !== "Return Order Requested" && !order.status.includes("Approved Return Request") && !order.status.includes("Declined Return Request") && order.items[i].return.isRequested === true && order.items[i].return.approvedAt === null && order.items[i].return.declinedAt === null) {%>
                                        <div class="w-[50%]">
                                            <div class="flex justify-end w-full items-center ">
                                                <button type="button" class="px-3 py-1 bg-yellow-400 font-bold text-black rounded-full " disabled>
                                                    Return Item Requested
                                                </button>
                                            </div>
                                            <div class="flex justify-end w-full items-center mt-2 ">
                                                <select name="updateOrderItemStatus" id="updateOrderItemStatus" class=" mr-1 px-1 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                                                    <option value="">Update Status</option>
                                                    <option value="Approve Return Request" >Approve Return Request</option>
                                                    <option value="Decline Return Request" >Decline Return Request</option>
                                                </select>
                                                <button type="button" class="btn-primary rounded-md p-1" onclick="updateOrderItemStatus('<%- order._id %>','<%- i %>')">
                                                    <i data-feather="check" ></i>
                                                </button>
                                            </div>
                                            <div id="declineItemReasonDiv" class="w-full flex justify-end mt-2 hidden">
                                               <div class="w-[73%] border rounded-md p-2">
                                                    <div class="flex justify-between items-center">
                                                        <label for="declineItemReason">Decline Item Reason</label>
                                                        <span class="text-red-600 text-xs">Mandatory</span>
                                                    </div>
                                                  
                                                  <textarea name="declineItemReason" rows="3" id="declineItemReason" class=" w-full px-1 py-1 border border-gray-400  rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"></textarea>
                                               </div>
                                            </div>
                                            
                                        </div>
                                        
                                    <%} else if(order.items[i].return.isRequested === true && order.items[i].return.approvedAt !== null ) {%>
                                        <div class="flex justify-end flex-wrap w-full items-center ">
                                            <button type="button" class="px-3 py-1 bg-green-400 font-bold text-black rounded-full " disabled>
                                                Return Item Request Approved
                                            </button>
                                           <% if (order.items[i].return.productStockUpdated === false) { %>
                                            <button type="button" class="flex items-center px-3 py-2 btn-primary mt-2 font-medium text-black rounded-lg " onclick="updateProductStock('<%= order._id %>','<%= i %>','<%= order.items[i].variant %>','<%= order.items[i].quantity %>')">
                                                <i data-feather="plus" class="w-6 h-6 mr-1"></i>
                                                Update Product Stock
                                            </button>
                                           <% } else { %>
                                            <button type="button" class="flex items-center px-3 py-1 bg-yellow-400 mt-2 font-medium text-black rounded-full " disabled>
                                                <i data-feather="check" class="w-6 h-6 mr-1"></i>
                                                Updated Product Stock
                                            </button>
                                           <% } %>
                                        </div>
                                        
                                    <%} else if(order.items[i].return.isRequested === true && order.items[i].return.declinedAt !== null ) {%>
                                        <div class="flex justify-end w-full items-center ">
                                            <button type="button" class="px-3 py-1 bg-red-400 font-bold text-black rounded-full " disabled>
                                                
                                                Return Item Request Declined
                                            </button>
                                        </div>
                                    <% } %>
                                    
                                    <% if(order.isCancelled || order.items[i].isCancelled) {%>
                                        <div class="flex justify-end w-[50%] items-center ">
                                            <button type="button" class="bg-red-100 text-red-500 p-2 font-bold rounded-xl" disabled>Cancelled</button>
                                        </div>
                                    <% } %>    
                                </div>
                            <% } %>
                            
                            <!-- More items would go here -->
                        </div>
                        <div class="border-t border-gray-200 pt-4">
                            <div class="flex justify-end">
                                <div class="w-full ">
                                    <div class="flex justify-between py-2">
                                        <% let sumOfQuantity = 0 %>
                                        <% for( let i = 0; i < order.items.length; i++ ) { %>
                                            <% if (!order.items[i].isCancelled) { %>
                                                <% sumOfQuantity += order.items[i].quantity %>
                                            <% } %>
                                            
                                        <% } %>
                                        <span class="text-gray-600">Subtotal (<%= sumOfQuantity %> items)</span>
                                        <span class="font-medium">$<%= order.subTotal %></span>
                                    </div>
                                    <div class="flex justify-between py-2">
                                        <span class="text-gray-600">Shipping</span>
                                        <span class="font-medium">Free</span>
                                    </div>
                                    <div class="flex justify-between py-2">
                                        <span class="text-gray-600">Tax</span>
                                        <span class="font-medium">$<%= order.tax %></span>
                                    </div>
                                    <% if (order.discount !== null) { %>
                                        <div class="flex justify-between py-2">
                                            <span class="text-gray-600">Discount</span>
                                            <span class="font-medium">- $<%= order.discount %></span>
                                        </div>
                                    <% } %>
                                    <div class="flex justify-between py-2 font-bold text-lg border-t border-gray-200 mt-2">
                                        <span>Total</span>
                                        <span>$<%= order.grandTotal %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if (order.return.isRequested === true && order.return.proof !== null) { %>
                        <div class="w-full p-4 order-card rounded-md bg-white mb-4">
                            <div class="py-2">
                                <h1>Order Return Proof</h1>
                            </div>
                           <div class="w-full pt-2 rounded-md bg-white flex justify-center   items-center">
                              <img src="<%= order.return.proof %>" class="rounded-md max-w-[100%] max-w-64 object-contain">
                           </div>
                           
                        </div>
                    <% } %>
                    <% for( let i = 0; i < order.items.length; i++ ) { %>
                        <% if (order.items[i].return.isRequested === true && order.items[i].return.proof !== null) { %>
                           
                            <div class="w-full p-4 order-card rounded-md bg-white mb-4">
                                <div class="py-2">
                                    <h1><%= order.items[i].productName %>-<%= order.items[i].color %>-<%= order.items[i].size %></h1>
                                </div>
                               <div class="w-full pt-2 rounded-md bg-white flex justify-center   items-center">
                                  <img src="<%= order.items[i].return.proof %>" class="rounded-md max-w-[100%] max-w-64 object-contain">
                               </div>
                               
                            </div>
                           <% } %>
                    <% } %>
                   
                
                    
                    
                </div>

                <div class="space-y-6 ">
                
                    <div class="order-card p-6 mb-6 border">
                        <h2 class="text-xl font-bold mb-4">Update Order Status</h2>
                        <div class="flex justify-between">
                            <select id="orderUpdateStatus" name="status" class="w-[50%] px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" >
                                <% if (order.status[order.status.length - 1] === "Delivered" || order.status[order.status.length - 1] === "Cancelled" ||  order.status[order.status.length - 1] === "Return Order Requested" || order.status[order.status.length - 1] === "Item Return Requested" || order.status[order.status.length - 1] === "Item Return Approved" || order.status[order.status.length - 1] === "Item Return Declined") { %>
                                    <option name="" value="" id="" selected disabled><%= order.status[order.status.length - 1] %></option>
                                <% } else { %>
                                    <option name="" value="" id="" selected ><%= order.status[order.status.length - 1] %></option>
                                    <% } %>
                                
                                <% if (order.status[order.status.length - 1] === "Pending") { %>
                                    <option value="Processed" >Processed</option>
                                <% } else if(order.status[order.status.length - 1] === "Processed"){ %>
                                    <option value="Shipped" >Shipped</option>
                                <% } else if(order.status[order.status.length - 1] === "Shipped"){ %>
                                    <option value="Out for Delivery" >Out for Delivery</option>
                                <% } else if(order.status[order.status.length - 1] === "Out for Delivery"){ %>
                                        <option value="Delivered" >Delivered</option>
                                <% } else if(order.status[order.status.length - 1] === "Return Order Requested"){ %>
                                    <option value="Approve Return Request" >Approve Return Request</option>
                                    <option value="Decline Return Request" >Decline Return Request</option>
                                <% } %>
                            </select>
                           
                            <button type="button" id="updateStatusBtn" class="px-4 py-2 btn-primary text-gray-700 rounded-md hover:bg-gray-100 flex items-center" onclick="updateStatus('<%- order._id %>')">
                                Update Status
                            </button>
                        </div>
                        <div id="declineReasonDiv" class=" mt-2 p-1 border border-gray-400 rounded-md hidden">

                            <div class="flex justify-between items-center"> 
                                <label for="">Decline Reason : </label>
                                <span class="text-red-600 text-xs mr-2">Mandatory</span>
                            </div>
                            
                            <textarea id="declineReasonTextBox" name="declineReason" rows="4" class="border border-gray-400 w-full mt-1 rounded-md p-1" disabled></textarea>
                        </div>
                        
                    </div>
                    <div class="order-card p-6 border">
                        <h3 class="text-lg font-semibold mb-3 flex items-center">
                            <i data-feather="user" class="mr-2"></i> User Information
                        </h3>
                        <div class="space-y-2 text-gray-700">
                            <p><strong>Name :</strong> <%= order.userId.firstName %> <%= order.userId.lastName %></p>
                            <p><strong>Phone No:</strong> <%= (order.userId.phone !== null ) ? order.userId.phone : "Not Provided" %></p>
                            <p><strong>Email :</strong> <%= order.userId.email%></p>
                        </div>
                    </div>
                    
                    
                    <div class="order-card p-6 border">
                        <h3 class="text-lg font-semibold mb-3 flex items-center">
                            <i data-feather="truck" class="mr-2"></i> Shipping Information
                        </h3>
                        <div class="space-y-2 text-gray-700">
                            <p><%= order.addressId.firstName %> <%= order.addressId.lastName %></p>
                            <p><%= order.addressId.address %></p>
                            <p><%= order.addressId.state %>, <%= order.addressId.pincode %></p>
                            <p><%= order.addressId.country %></p>
                            <p ><strong>Phone:</strong> <%= order.addressId.mobileNo %></p>
                            <p><strong>Shipping Method:</strong> Standard Shipping (Free)</p>
                        </div>
                    </div>
                    <div class="order-card p-6 border">
                        <h3 class="text-lg font-semibold mb-3 flex items-center">
                            <i data-feather="credit-card" class="mr-2"></i> Payment Information
                        </h3>
                        <div class="space-y-2 text-gray-700">
                            <p><strong>Payment Method:</strong> <%= order.paymentId.paymentMethod %></p>
                            <p><strong>Payment Status:</strong> <%= order.paymentId.status %></p>
                            <% if(order.paymentId.paymentDate === null){ %>
                                <p><strong>Payment Date:</strong> Not Paid Yet</p>
                            <% }else{ %>
                                <p><strong>Payment Date:</strong> <%= new Date(order.paymentId.paymentDate ).toLocaleDateString("en-IN", {
                                    day: "numeric",
                                    month: "short",
                                    year: "numeric"
                                })%></p>
                            <% } %>
                            <p><strong>Total Amount to be Paid:</strong> $<%= order.paymentId.amountToBePaid %></p>
                            <p><strong>Total Paid:</strong> $<%= order.paymentId.amountPaid %></p>
                            <% if (order.paymentId.amountRefunded > 0 || order.paymentId.amountToBeRefunded > 0) { %>
                                <p><strong>Amount to be Refunded:</strong> $<%= order.paymentId.amountToBeRefunded %></p>
                                <p><strong>Amount Refunded:</strong> $<%= order.paymentId.amountRefunded %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
            
            
        </div>
     
   </div>
    
   

    <script>
        feather.replace();

        function updateProductStock(orderId,itemIndex,productVariant,quantity){
            iziToast.question({
                theme : "light",
                title : "Update Stock",
                message : "Did you recieve the item ?<br>Did you inspect the Item ?<br>Is it Saleable ?",
                position : "topCenter",
                overlay : true,
                close : false,
                id : "updateStock",
                zindex : 9999,
                timeout : 30000,
                backgroundColor : "white", 
                buttons : [
                    ["<button>Confirm</button>",function(instance,toast){
                        instance.hide({transitionOut : "fadeOut"},toast,'button')
                        fetch(`/admin/orders/update-product-stock?orderId=${orderId}&itemIndex=${itemIndex}&productVariant=${productVariant}&quantity=${quantity}`,{method : "PATCH"})
                        .then(res => window.location.href = `/admin/orders/${orderId}` )
                        .catch(error => iziToast.error({
                            title : error.name ,
                            message : error.message,
                            position : "topRight"
                        }))
                    }],
                    ["<button>Cancel</button>",function(instance,toast){
                        instance.hide({transitionOut : "fadeOut"},toast,'button')
                        console.log("Deletion Cancelled")
                    }]
                ]
            })
        }

        document.getElementById("orderUpdateStatus").addEventListener("change",function () {
            if(this.value === "Decline Return Request"){
                document.getElementById("declineReasonDiv").classList.remove("hidden") 
                document.getElementById("declineReasonTextBox").disabled = false
            }
            if(this.value === "Approve Return Request"){
                document.getElementById("declineReasonDiv").classList.add("hidden") 
                document.getElementById("declineReasonTextBox").disabled = true
            }
        })

        document.getElementById("updateOrderItemStatus").addEventListener("change",function () {
            if(this.value === "Decline Return Request"){
                document.getElementById("declineItemReasonDiv").classList.remove("hidden") 
                document.getElementById("declineItemReason").disabled = false
            }
            if(this.value === "Approve Return Request"){
                document.getElementById("declineItemReasonDiv").classList.add("hidden") 
                document.getElementById("declineItemReason").disabled = true
            }
        })
        

        let serverMessage = document.getElementById("serverMessage").value
        if(serverMessage === "Status Updated Successfully"){
            iziToast.success({
                title : "Success",
                message : serverMessage,
                position : "topRight"
            })
        }  
        
        function updateStatus(orderId){
            
          let statusToBe = document.getElementById("orderUpdateStatus").value
          if(statusToBe !== "" && statusToBe === "Processed"){
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-status?status=${statusToBe}`,{method : "PATCH"})
            .then(res => window.location.href = `/admin/orders/${orderId}`)
          }else if(statusToBe !== "" && statusToBe === "Shipped"){
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-status?status=${statusToBe}`,{method : "PATCH"})
            .then(res => window.location.href = `/admin/orders/${orderId}`)
            .catch(error => {
                console.log(error)
            })
          }else if(statusToBe !== "" && statusToBe === "Out for Delivery"){
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-status?status=${statusToBe}`,{method : "PATCH"})
            .then(res => window.location.href =`/admin/orders/${orderId}`)
          }else if(statusToBe !== "" && statusToBe === "Delivered"){
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-status?status=${statusToBe}`,{method : "PATCH"})
            .then(res => window.location.href = `/admin/orders/${orderId}`)
          }else if(statusToBe !== "" && statusToBe === "Approve Return Request"){
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-status?status=${statusToBe}`,{method : "PATCH"})
            .then(res => window.location.href = `/admin/orders/${orderId}`)
          }else if(statusToBe !== "" && statusToBe === "Decline Return Request"){
            let declineReason = document.getElementById("declineReasonTextBox").value
            if(declineReason === "" || declineReason === undefined){
                iziToast.error({
                    title : "Update Status",
                    message : "Please provide a Decline Reason",
                    position : "topRight"
                })
                event.preventDefault()
                return
            }
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-status?status=${statusToBe}`,{
                method : "PATCH",
                headers : {
                   'Content-Type': 'application/json'
                },
                body : JSON.stringify({
                    declineReason : declineReason
                })
            })
            .then(res => window.location.href = `/admin/orders/${orderId}`)
          }
        }

        function updateOrderItemStatus(orderId,itemIndex){
            let updateItemStatus = document.getElementById("updateOrderItemStatus")
            if(updateItemStatus.value === ""){
                iziToast.error({
                    title : "Update Item Status",
                    message : "Please select an option",
                    position : "topRight"
                })
                event.preventDefault()
                return
            }
            if(updateItemStatus.value !== "" && updateItemStatus.value === "Approve Return Request"){
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-item-status?status=${updateItemStatus.value}&itemIndex=${itemIndex}`,{method : "PATCH"})
                .then(res => window.location.href = `/admin/orders/${orderId}`)
                .catch(error => console.log(error))
          }
          if(updateItemStatus.value !== "" && updateItemStatus.value === "Decline Return Request"){
            let declineReason = document.getElementById("declineItemReason").value
            if(declineReason === "" || declineReason === undefined){
                iziToast.error({
                    title : "Update Item Status",
                    message : "Please provide a Decline Reason",
                    position : "topRight"
                })
                event.preventDefault()
                return
            }
            document.getElementById("updateStatusBtn").disabled = true
            document.getElementById("updationOverlay").classList.remove("hidden")
            fetch(`/admin/orders/${orderId}/update-item-status?status=${updateItemStatus.value}&itemIndex=${itemIndex}`,{
                method : "PATCH",
                headers : {
                   'Content-Type': 'application/json'
                },
                body : JSON.stringify({
                    declineReason : declineReason
                })
            })
                .then(res => window.location.href = `/admin/orders/${orderId}`)
                .catch(error => console.log(error))
          }
               
            
        }
    </script>
</body>
</html>