<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="icon" href="/images/novamart.png" type="image/icon-x" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@iconify/iconify@3.1.1/dist/iconify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>
    <script src="/javascript/user-javascript/carousel.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="/styles/style4.css">
    <link rel="stylesheet" href="/styles/style5.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css">
    <link href="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.15.15/validator.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.js"></script>
<script src="/javascript/user-javascript/cart-management.js"></script>
</head>
<body class="bg-gray-100">
    <!-- Navigation Bar -->
    <nav class="bg-green-500 shadow-md py-3 px-4 sticky top-0 z-[60]">
        <div class="max-w-7xl mx-auto flex items-center justify-between">
            <!-- Logo -->
            <div class="flex items-center">
                <a id="nav-logo" href="/" class="text-2xl font-bold text-black" >NovaMart</a>
            </div>
            
            <!-- Search Bar -->
            <div class="flex-1 mx-8">
                <div class="relative">
                   <form autocomplete="off" action="/search-product" method="post">
                    <input type="search" placeholder="Search for Products..." 
                    class="w-full py-2 px-4 pr-10 rounded-md search-bar border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-00 focus:border-transparent" data-search>
                    <div id="productSearchResultBox" data-product-container>  
                    </div>
                    <button  class="absolute right-2 top-2 text-gray-500 hover:text-blue-600">
                        <i  data-feather="search" class=""></i>
                    </button>
                   </form>
                </div>
                <template data-product-template>
                    <div id="product-list-item" onclick="setInputForSearch()" >
                     <div class="flex-shrink-0 h-16 w-16 border-2 border-black px-1 py-1">
                      <img class="h-16 w-16 " src="" alt="" data-product-image style="max-height: 100%;">
                     </div>
                     <span class="ml-2 font-semibold" data-header ></span>
                     <span class="ml-2">in</span>
                     <span class="ml-2" data-body ></span>
                    </div>
                  </template>  
            </div>
            
            <!-- User Actions -->
            <div class="flex items-center space-x-6">
                <a href="/" class="flex flex-col items-center">
                    <i data-feather="home" class="w-6 h-6"></i>
                    <span class="text-xs mt-1">Home</span>
                </a>
                <a href="/shop" class="flex flex-col items-center relative">
                    <i data-feather="shopping-bag" class="w-6 h-6"></i>
                    <span class="text-xs mt-1">Shop</span>
                </a>
                
                <a href="/wishlist">
                   <div  class="flex flex-col items-center relative inline-block text-left">
                    <span class="iconify" data-icon="ri:heart-line" style="width: 26;height: 26;"></span>
                    <span class="text-xs mt-1">Wishlist</span>
                    <span id="wishlistItemQty" class="absolute -top-1 -right-0.5 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center <%= (wishlistItemsCount === 0) ? "hidden" : '' %>"><%= wishlistItemsCount %></span>
                   </div>
                </a>
                

                <div class="relative inline-block text-left">
                
                    <button type="button" id="cartBtn">
                        <span class="iconify" data-icon="solar-cart-linear" style="width: 26;height: 26;"></span>
                        <span class="text-xs mt-1">Cart</span>
                       
                            <span id="cartItemQty" class="absolute -top-1 -right-2 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center">0</span>
                        
                        
                    </button>
                  
                    <!-- Dropdown Menu -->
                    <div id="cartDropdown" class="hidden overflow-hidden absolute right-0 mt-2 w-[25rem] bg-white border border-gray-200 rounded-md shadow-lg">
                        
                       
                            <h1 class="text-xl text-black font-bold ml-3 mt-2">My Cart (<span id="cartHeadItemCount">0</span>)</h1>
                       
                            <div id="cartItemsDiv" class="w-[100%] max-h-[26rem]   overflow-scroll">
                                <% let subTotal =  0 %>
                                <% let itemsWithStock = 0 %>
                                <% let now = new Date() %>
                              <% for( let i = 0; i < cartItems.length; i++ ) { %>
                                <% let offerPrice = 0 %>
                                <% let categoryOfferPrice = 0 %>
                                <% let productOfferPrice = 0 %>
                                <% if (!cartItems[i].productId.isDeleted ) { %>
                                  <% if (cartItems[i].productId.variants[cartItems[i].variant].stockQuantity !== 0 && cartItems[i].productId.variants[cartItems[i].variant].stockStatus !== "Out of Stock") { %>
                                            <% if (cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId !== null && (cartItems[i].productOfferId.startDate <= now && cartItems[i].productOfferId.endDate >= now) && (cartItems[i].categoryOfferId.startDate <= now && cartItems[i].categoryOfferId.endDate >= now) ) { %>
                                                <% if (cartItems[i].productOfferId.discountType === "percentage") { %>
                                                <%  productOfferPrice = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].productOfferId.discountValue ) / 100) %>
                                                <% } else if(cartItems[i].productOfferId.discountType === "flat") {%>
                                                <%  productOfferPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].productOfferId.discountValue %>
                                                <% } %>
                    
                                                <% if (cartItems[i].categoryOfferId.discountType === "percentage") { %>
                                                    <% let tempPrice1 = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].categoryOfferId.discountValue ) / 100) %>
                                                    <% let tempPrice2 = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.maxDiscountAmount  %>
                                                    <% if (tempPrice2 > tempPrice1) { %>
                                                        <% categoryOfferPrice = tempPrice2 %>
                                                    <% } else {%>
                                                        <% categoryOfferPrice = tempPrice1 %>
                                                    <% } %>
                                                    
                                                <% } else if(cartItems[i].categoryOfferId.discountType === "flat") {%>
                                                <% if (cartItems[i].productId.variants[cartItems[i].variant].price > cartItems[i].categoryOfferId.productMinPrice) { %>
                                                    <% categoryOfferPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.discountValue %>
                                                <% } %>
                                                <% } %>
                    
                                                <% offerPrice = (categoryOfferPrice < productOfferPrice) ? categoryOfferPrice : productOfferPrice %>
                                                <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                        <% } else if(cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId !== null && (cartItems[i].productOfferId.startDate <= now && cartItems[i].productOfferId.endDate >= now) && cartItems[i].categoryOfferId.startDate > now ){%>
                                            <% if (cartItems[i].productOfferId.discountType === "percentage") { %>
                                                <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].productOfferId.discountValue ) / 100) %>
                                            <% } else if(cartItems[i].productOfferId.discountType === "flat") {%>
                                                <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].productOfferId.discountValue %>
                                            <% } %>
                                            <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                        <% } else if(cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId !== null && (cartItems[i].categoryOfferId.startDate <= now && cartItems[i].categoryOfferId.endDate >= now) && cartItems[i].productOfferId.startDate > now ){%>
                                                <% if (cartItems[i].categoryOfferId.discountType === "percentage") { %>
                                                        <% let tempPrice1 = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].categoryOfferId.discountValue ) / 100) %>
                                                        <% let tempPrice2 = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.maxDiscountAmount  %>
                                                        <% if (tempPrice2 > tempPrice1) { %>
                                                            <% offerPrice = tempPrice2 %>
                                                        <% } else {%>
                                                            <% offerPrice = tempPrice1 %>
                                                        <% } %>
                                                        
                                                <% } else if(cartItems[i].categoryOfferId.discountType === "flat") {%>
                                                    <% if (cartItems[i].productId.variants[cartItems[i].variant].price > cartItems[i].categoryOfferId.productMinPrice) { %>
                                                        <% offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.discountValue %>
                                                    <% } %>
                                                <% } %>
                                                <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                        <% } else if(cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId === null && (cartItems[i].productOfferId.startDate <= now && cartItems[i].productOfferId.endDate >= now) ){%>
                                            <% if (cartItems[i].productOfferId.discountType === "percentage") { %>
                                                <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].productOfferId.discountValue ) / 100) %>
                                            <% } else if(cartItems[i].productOfferId.discountType === "flat") {%>
                                                <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].productOfferId.discountValue %>
                                            <% } %>
                                            <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                        <% } else if(cartItems[i].productOfferId === null && cartItems[i].categoryOfferId !== null && (cartItems[i].categoryOfferId.startDate <= now && cartItems[i].categoryOfferId.endDate >= now) ){%>
                                            <% if (cartItems[i].categoryOfferId.discountType === "percentage") { %>
                                                <% let tempPrice1 = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].categoryOfferId.discountValue ) / 100) %>
                                                <% let tempPrice2 = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.maxDiscountAmount  %>
                                                <% if (tempPrice2 > tempPrice1) { %>
                                                    <% offerPrice = tempPrice2 %>
                                                <% } else {%>
                                                    <% offerPrice = tempPrice1 %>
                                                <% } %>
                                                
                                            <% } else if(cartItems[i].categoryOfferId.discountType === "flat") {%>
                                                <% if (cartItems[i].productId.variants[cartItems[i].variant].price > cartItems[i].categoryOfferId.productMinPrice) { %>
                                                    <% offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.discountValue %>
                                                <% } %>
                                            <% } %>
                                            <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                        <% } else {%>
                                            <% subTotal += (cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].quantity ) %>
                                        <% } %>
                                    <% itemsWithStock += cartItems[i].quantity %>
                                    <div  id="cartItem<%= cartItems[i].productId._id %><%= cartItems[i].variant %>" href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>">
                                        <input type="text" value="<%= cartItems[i]._id %>" hidden>
                                        

                                        <div class="flex  border border-gray-400 w-[96%] text-left px-3 py-2 text-gray-700  rounded-lg m-2">
                                            <a  href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>" >
                                               <div class="w-[6rem]">
                                                <img src="<%= cartItems[i].productId.variants[cartItems[i].variant].productImages[0] %>" class="rounded-md mr-1 w-full border border-gray-400 "></img>
                                               </div>
                                            </a>
                                            <div class="w-[78%] ml-1">
                                                  <a href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>">
                                                    <h1 class="font-bold text-black"><%= cartItems[i].productId.productName %></h1>
                                                    <p class="text-gray-600 text-xs">Color : <strong class="text-black"><%= cartItems[i].productId.variants[cartItems[i].variant].color %></strong><span class="ml-2">Size : <strong class="text-black"><%= cartItems[i].productId.variants[cartItems[i].variant].size %></strong></span></p>
                                                    <p class="text-sm text-gray-600 mt-[0.1rem]">Quantity : <strong class="text-black" id="cartItemQty<%= cartItems[i].productId._id %><%= cartItems[i].variant %>"><%= cartItems[i].quantity %></strong></p>
                                                  </a>
                                                <div class="flex justify-between items-center mt-1">
                                                    <% if (offerPrice > 0 && offerPrice < cartItems[i].productId.variants[cartItems[i].variant].price ) { %>
                                                        <h2 class="text-lg text-black font-bold ">$ <span id="price<%= cartItems[i]._id %><%= cartItems[i].variant %>" ><%= offerPrice.toFixed(2) %></span></h2>
                                                    <% } else {%>
                                                        <h2 class="text-lg text-black font-bold ">$ <span id="price<%= cartItems[i]._id %><%= cartItems[i].variant %>" ><%= cartItems[i].productId.variants[cartItems[i].variant].price %></span></h2>
                                                    <% } %>
                                                    
                                                   
                                                    <button type="button" class="text-sm flex items-center justify-center rounded-lg hover:text-red-500  px-1 z-50  text-black" onclick="deleteItemFromCart('<%- cartItems[i]._id %>','<%- cartItems[i].productId._id %>','<%= cartItems[i].variant %>')">
                                                        <i data-feather="trash-2" class="w-5 h-5 mr-1"></i>
                                                    </button>
                                                  
                                                </div>
                                            </div> 
                                            
                                        </div>
                                    </div>
                                  <% } else { %>
                                    <div  id="cartItem<%= cartItems[i].productId._id %><%= cartItems[i].variant %>" href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>">
                                        <input type="text" value="<%= cartItems[i]._id %>" hidden>
                                       
                                        <div class="flex  border border-gray-400 w-[96%] text-left px-3 py-2 text-gray-700  rounded-lg m-2">
                                            <a  href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>" >
                                               <div class="w-[6rem]">
                                                <img src="<%= cartItems[i].productId.variants[cartItems[i].variant].productImages[0] %>" class="rounded-md mr-1 w-full border border-gray-400 "></img>
                                               </div>
                                            </a>
                                            <div class="w-[78%] ml-1">
                                                  <a href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>">
                                                    <h1 class="font-bold text-black"><%= cartItems[i].productId.productName %></h1>
                                                    <p class="text-gray-600 text-xs">Color : <strong class="text-black"><%= cartItems[i].productId.variants[cartItems[i].variant].color %></strong><span class="ml-2">Size : <strong class="text-black"><%= cartItems[i].productId.variants[cartItems[i].variant].size %></strong></span></p>
                                                    <p class="text-sm text-gray-600 mt-[0.1rem]">Quantity : <strong class="text-red-500" >Out of Stock</strong></p>
                                                  </a>
                                                <div class="flex justify-end items-center mt-1">
                                                   
                                                   
                                                    <button type="button" class="text-sm flex items-center justify-center rounded-lg hover:text-red-500  px-1 z-50  text-black" onclick="deleteItemFromCart('<%- cartItems[i]._id %>','<%- cartItems[i].productId._id %>','<%= cartItems[i].variant %>')">
                                                        <i data-feather="trash-2" class="w-5 h-5 mr-1"></i>
                                                    </button>
                                                  
                                                </div>
                                            </div> 
                                            
                                        </div>
                                    </div>
                                    <% } %>
                                <% } else {%>
                                    <div  id="cartItem<%= cartItems[i].productId._id %><%= cartItems[i].variant %>" href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>">
                                        <input type="text" value="<%= cartItems[i]._id %>" hidden>
                                       
                                        <div class="flex  border border-gray-400 w-[96%] text-left px-3 py-2 text-gray-700  rounded-lg m-2">
                                            <a  href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>" >
                                               <div class="w-[6rem]">
                                                <img src="<%= cartItems[i].productId.variants[cartItems[i].variant].productImages[0] %>" class="rounded-md mr-1 w-full border border-gray-400 "></img>
                                               </div>
                                            </a>
                                            <div class="w-[78%] ml-1">
                                                  <a href="/product?id=<%= cartItems[i].productId._id %>&variant=<%= cartItems[i].variant %>">
                                                    <h1 class="font-bold text-black"><%= cartItems[i].productId.productName %></h1>
                                                    <p class="text-gray-600 text-xs">Color : <strong class="text-black"><%= cartItems[i].productId.variants[cartItems[i].variant].color %></strong><span class="ml-2">Size : <strong class="text-black"><%= cartItems[i].productId.variants[cartItems[i].variant].size %></strong></span></p>
                                                    <p class="text-sm text-gray-600 mt-[0.1rem]">Quantity : <strong class="text-red-500" >Product Unavailable</strong></p>
                                                  </a>
                                                <div class="flex justify-end items-center mt-1">
                                                   
                                                   
                                                    <button type="button" class="text-sm flex items-center justify-center rounded-lg hover:text-red-500  px-1 z-50  text-black" onclick="deleteItemFromCart('<%- cartItems[i]._id %>','<%- cartItems[i].productId._id %>','<%= cartItems[i].variant %>')">
                                                        <i data-feather="trash-2" class="w-5 h-5 mr-1"></i>
                                                    </button>
                                                  
                                                </div>
                                            </div> 
                                            
                                        </div>
                                    </div>
                                    <% } %>
                              <% } %>
                              
                            </div>
                            <input id="itemsWithStock" type="text" value="<%= itemsWithStock %>" hidden>
                         <% if(cartItems.length === 0){ %>
                            <div id="nothingInCartCard" class="flex  items-center justify-center border border-gray-400 w-[96%] text-left px-3 py-8 text-gray-700  rounded-lg m-2">
                                  <h1 class="font-bold">
                                    Your cart is empty. Start shopping!
                                   </h1>
                            </div>
                         <% } %>
                            
                            
                       <div class="flex w-[96%] m-2  justify-between border border-gray-400 rounded-md px-1 py-1">
                        <span class="font-bold  text-blue-900">Subtotal ($) :</span>
                        <span id="subTotal" class="font-bold"><%= subTotal.toFixed(2) %></span>
                       </div>
                       <div class="w-[96%] m-2 ">
                            <a href="/cart">
                                <button type="button" class="w-[38%] ml-[0.1rem] px-4 py-2 mb-2 font-bold rounded-lg bg-green-400">
                                    Go to Cart
                                </button>
                            </a>
                          <% if (cartItems.length === 0) { %>
                            <button id="checkoutBtn" type="button" class="w-[60%] crop-btn px-4 py-2 font-bold rounded-lg" disabled>
                                Checkout
                            </button>
                          <% }else{ %>
                            <button id="checkoutBtn" type="button" class="w-[60%] crop-btn px-4 py-2 font-bold rounded-lg" onclick="window.location.href='/checkout'">
                                Checkout
                            </button>
                            <% } %>
                       </div>
                    </div>
                   
                </div>

                <div class="relative inline-block text-left">
                    <button type="button" id="accountBtn">
                        <span class="iconify" data-icon="qlementine-icons:user-16" style="width: 26;height: 26; margin-left: 10px;"></span>
                        <span class="text-xs mt-1">Account</span>
                    </button>
                  
                    <!-- Dropdown Menu -->
                    <div id="accountDropdown" class="hidden absolute right-0 mt-2 w-[200px] bg-white border border-gray-200 rounded-md shadow-lg">
                        <h1 class="text-xl text-black font-bold ml-3 mt-2">My Account</h1>
                        <a href="/profile">
                            <div class="flex justify-between border border-gray-400 w-[92%] text-left px-3 py-2 text-gray-700 hover:bg-gray-100 rounded-lg m-2">
                              
                               <% if (user.profileImage) { %>
                                <div class="pt-1 mr-1">
                                    <img src="<%- user.profileImage %>" class="rounded-full w-8 border border-gray-400 "></img>
                                   </div>
                               <% } else {%>
                                <div class="pt-1 mr-1">
                                    <img src="/images/user.jpg" class="rounded-full w-8 border border-gray-400 "></img>
                                   </div>
                                <% } %>
                               
                               
                                
                                   <% if (user.email.length > 13) { %>
                                    <% let email = user.email.slice(0,11) %>
                                    <p class="text-gray-600 font-bold text-sm"><%= email %> ... <br><span class="text-gray-300">Go to Profile</span></p>
                                   
                                   <% } %>
                                
                                   <p class="text-gray-300"></p>
                            </div>
                        </a>
                        <a href="/orders">
                            <button class=" border border-gray-400 w-[92%] font-bold flex items-center justify-center text-center px-3 py-2 text-gray-700 hover:bg-gray-100 rounded-lg m-2">
                                <i data-feather="package" class="mr-1"></i>
                                Orders
                            </button>
                        </a>
                        <a href="/logout">
                            <button class="btn-primary  w-[92%] font-bold flex items-center justify-center text-center px-3 py-2 text-gray-700 hover:bg-gray-100 rounded-lg m-2">
                                <i data-feather="log-out" class="mr-1"></i>
                                Logout
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script>
        const productCardTemplate = document.querySelector("[data-product-template]")
       const productCardContainer = document.querySelector("[data-product-container]")
       const searchInput = document.querySelector("[data-search]")


     
      const productData = JSON.parse('<%- JSON.stringify(productsFullList) %>')
      
     
      productCardContainer.innerHTML = ""
       searchInput.addEventListener("input",(e) => {
        const value = e.target.value.toLowerCase()
        productCardContainer.style.display = "block"
          productCardContainer.innerHTML = ""
        
        if(!value){
        productCardContainer.style.display = "none"
        return;
       }
       productData.forEach(product => {
        if(product.productName.toLowerCase().includes(value)  ){
          const listItem = productCardTemplate.content.cloneNode(true).children[0]
          listItem.querySelector("[data-product-image]").src = product.variants[0].productImages[0]
          listItem.querySelector("[data-header]").textContent = product.productName
          listItem.querySelector("[data-body]").textContent = product.categoryId.categoryName.charAt(0) + product.categoryId.categoryName.slice(1).toLowerCase()
         
          productCardContainer.appendChild(listItem)
          
          listItem.addEventListener("click",() => {
            searchInput.value = product.productName
            searchInput.focus()
            productCardContainer.style.display = "none"
            window.location.href = `/product?id=${product._id}&variant=0`
          })
        }
        
       });
       })

       

      


    </script>