<div class="sidebar w-[18%]  bg-white">
        
    <div class="nav-menu pt-4">
        <a href="#"  >
            <button class=" <%= dashboardBtn  %>" >
            <i data-feather="home" ></i>
            <h2 class="mt-1 ml-1 font-semibold">Dashboard</h2>
            </button>
        </a>
        <a href="/profile"  >
            <button class="<%= profileBtn %>" >
                <i data-feather="user" ></i>
                <h2 class="mt-1 ml-1 font-semibold">Profile</h2>
                </button>
        </a>
        <a href="#" >
           <button class="<%= ordersBtn %>">
            <i data-feather="shopping-bag" ></i>
            <h2 class="mt-1 ml-1 font-semibold">Orders</h2>
            </button>
        </a>
        <a href="#" >
            <button class="<%= shoppingCartBtn %>">
                <i data-feather="shopping-cart" ></i>
                <h2 class="mt-1 ml-1 font-semibold">Cart</h2>
                </button>
        </a>
        <a href="/address" >
            <button class="<%= addressBtn %>">
                <i data-feather="map-pin" ></i>
                <h2 class="mt-1 ml-1 font-semibold">Addresses</h2>
                </button>
        </a>
        <a href="#" >
            <button class="<%= walletBtn %>">
                <i data-feather="credit-card" ></i>
                <h2 class="mt-1 ml-1 font-semibold">Wallet</h2>
                </button>
        </a>
       
        <a href="/logout" >
           <button >
            <i data-feather="log-out"></i>
            <h2 class="mt-1 ml-1 font-semibold">Logout</h2>
           </button>
        </a>
    </div>
</div>