<%- include("../partials/user-side/navbar.ejs",{title : "Novamart - Checkout"})%>
    <div class="checkout-container">
        <!-- Checkout Form (visible by default) -->
        <div id="checkoutForm">
            <h1 class="text-3xl font-bold mb-8 text-start">Checkout</h1>
            <form id="orderForm" action="/checkout" method="post" >
            <div class="flex gap-8">
                 <!-- Left Column - Order Summary -->
                 <div class="w-[65%]">
                    <!-- Address Selection -->
                    <input type="hidden" id="serverMessage"  value="<%= typeof message !== 'undefined' ? message : '' %>">
                    <div class="bg-white rounded-lg shadow-sm p-6 mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-xl font-bold">Select Address</h2>
                            <button type="button" onclick="openAddAddressModal()" class="btn-primary font-bold px-3 py-2 rounded-full flex items-center">
                               Add / Update Address
                            </button>
                        </div>
                        
                        <div class="flex flex-wrap gap-4" id="addressList">
                            
                            <% if (defaultAddress) { %>
                                <div id="defaultAddressCard" class="address-card w-[30%] border border-gray-300 p-4 relative">
                                    <div class="flex justify-between items-start mb-2">
                                        <h3 class="font-medium">Default Address</h3>
                                        <span class="default-badge text-xs px-2 py-1 rounded-full">Default</span>
                                    </div>
                                    <div class="text-sm text-gray-600">
                                        <p><strong>Name:</strong><span id="firstName0"> <%= defaultAddress?.firstName %></span> <span id="lastName0"><%= defaultAddress?.lastName %></span></p>
                                        <p><strong>Country:</strong><span id="country0"> <%= defaultAddress?.country %></span></p>
                                        <p><strong>State:</strong><span id="state0"> <%= defaultAddress?.state %></span></p>
                                        <p><strong>City:</strong><span id="city0"> <%= defaultAddress?.city %></span></p>
                                        <p><strong>Address:</strong><span id="address0"> <%= defaultAddress?.address %></span></p>
                                        <p><strong>Pincode:</strong><span  id="pincode0" > <%= defaultAddress?.pincode %></span></p>
                                        <p  class="mt-2"><strong>Phone:</strong><span id="mobileNo0"> <%= defaultAddress?.mobileNo  %></span></p>
                                    </div>
                                    <div class="flex justify-end space-x-2 mt-3">
                                        <button type="button" id="editBtn0" onclick="editAddress(0,'<%- defaultAddress?._id %>')" class="crop-btn shadow-lg p-2 rounded-lg text-sm">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            <% }else{ %>
                                <div class="address-card w-[30%] border border-gray-300 p-4 relative">
                                    <div class="flex justify-between items-start mb-2">
                                        <h3 class="font-medium">Default Address</h3>
                                        <span class="default-badge text-xs px-2 py-1 rounded-full">Default</span>
                                    </div>
                                    <div class="text-md text-gray-600">
                                        <p>Please add a delivery address to continue with checkout.</p>
                                    </div>
                                    
                                </div>
                                <% } %>
                             <% for( let i = 0; i < address.length; i++ ) { %>
                                <% if (!address[i]?.isDefault) { %>
                                    <div class="address-card w-[35%] border border-gray-300 p-4 relative">
                                        <div class="flex justify-between items-start mb-2">
                                            <h3 class="font-medium">Other Address <%= i + 1 %></h3>
                                            <button type="button" id="resetDefaultAddressBtn<%= i + 1 %>" onclick="changeDefaultAddress('<%- address[i]?._id %>','/checkout')" class="bg-green-400 hover:bg-green-500 font-bold shadow-lg p-2 rounded-xl text-sm">
                                                Set as Default
                                            </button>
                                        </div>
                                        <div class="text-sm text-gray-600">
                                           <p><strong>Name:</strong><span id="firstName<%= i+1 %>"> <%= address[i]?.firstName %></span> <span id="lastName<%= i+1 %>"><%= address[i]?.lastName %></span></p>
                                            <p><strong>Country:</strong><span id="country<%= i+1 %>"> <%= address[i]?.country %></span></p>
                                            <p><strong>State:</strong><span id="state<%= i+1 %>"> <%= address[i]?.state %></span></p>
                                            <p><strong>City:</strong><span id="city<%= i+1 %>"> <%= address[i]?.city %></span></p>
                                            <p><strong>Address:</strong><span id="address<%= i+1 %>"> <%= address[i]?.address %></span></p>
                                            <p><strong>Pincode:</strong><span  id="pincode<%= i+1 %>" > <%= address[i]?.pincode %></span></p>
                                            <p  class="mt-2"><strong>Phone:</strong><span id="mobileNo<%= i+1 %>"> <%= address[i]?.mobileNo  %></span></p>
                                        </div>
                                        <div class="flex justify-end space-x-2 mt-3">
                                            <button type="button" id="editBtn<%= i + 1 %>" onclick="editAddress('<%= i + 1%>','<%- address[i]?._id %>')" class="crop-btn shadow-lg p-2 rounded-lg text-sm">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                <% } %>
                             <% } %>
                           
                            
                            <!-- Address 2 -->
                            
                        </div>
                    </div>

                    <div class="bg-white rounded-lg shadow-sm p-6 sticky top-4">
                        <h2 class="text-xl font-bold mb-4">Items in Your Cart</h2>
                        
                        <!-- Products List -->
                        <div class="flex flex-wrap mb-4">
                            <!-- Product 1 -->
                            <% let subTotal = 0 %>
                            <% let itemsWithStock = 0 %>
                            <% let now = new Date() %>
                            <% for( let i = 0; i < cartItems.length; i++ ) { %>
                                <% let offerPrice = 0 %>
                                <% let categoryOfferPrice = 0 %>
                                <% let productOfferPrice = 0 %>
                               <% if (!cartItems[i].productId.isDeleted) { %>
                                 <% if (cartItems[i].productId.variants[cartItems[i].variant].stockQuantity !== 0 && cartItems[i].productId.variants[cartItems[i].variant].stockStatus !== "Out of Stock") { %>
                                    <% if (cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId !== null && (cartItems[i].productOfferId.startDate <= now && cartItems[i].productOfferId.endDate >= now) && (cartItems[i].categoryOfferId.startDate <= now && cartItems[i].categoryOfferId.endDate >= now) ) { %>
                                        <% if (cartItems[i].productOfferId.discountType === "percentage") { %>
                                         <%  productOfferPrice = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].productOfferId.discountValue ) / 100) %>
                                        <% } else if(cartItems[i].productOfferId.discountType === "flat") {%>
                                         <%  productOfferPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].productOfferId.discountValue %>
                                        <% } %>
             
                                        <% if (cartItems[i].categoryOfferId.discountType === "percentage") { %>
                                             <% let tempPrice1 = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].categoryOfferId.discountValue ) / 100) %>
                                             <% let tempPrice2 = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.maxDiscountAmount  %>
                                             <% if (tempPrice2 > tempPrice1) { %>
                                                 <% categoryOfferPrice = tempPrice2 %>
                                             <% } else {%>
                                                 <% categoryOfferPrice = tempPrice1 %>
                                             <% } %>
                                             
                                        <% } else if(cartItems[i].categoryOfferId.discountType === "flat") {%>
                                          <% if (cartItems[i].productId.variants[cartItems[i].variant].price > cartItems[i].categoryOfferId.productMinPrice) { %>
                                             <% categoryOfferPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.discountValue %>
                                           <% } %>
                                        <% } %>
             
                                        <% offerPrice = (categoryOfferPrice < productOfferPrice) ? categoryOfferPrice : productOfferPrice %>
                                        <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                 <% } else if(cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId !== null && (cartItems[i].productOfferId.startDate <= now && cartItems[i].productOfferId.endDate >= now) && cartItems[i].categoryOfferId.startDate > now ){%>
                                     <% if (cartItems[i].productOfferId.discountType === "percentage") { %>
                                         <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].productOfferId.discountValue ) / 100) %>
                                     <% } else if(cartItems[i].productOfferId.discountType === "flat") {%>
                                         <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].productOfferId.discountValue %>
                                     <% } %>
                                     <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                 <% } else if(cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId !== null && (cartItems[i].categoryOfferId.startDate <= now && cartItems[i].categoryOfferId.endDate >= now) && cartItems[i].productOfferId.startDate > now ){%>
                                         <% if (cartItems[i].categoryOfferId.discountType === "percentage") { %>
                                                 <% let tempPrice1 = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].categoryOfferId.discountValue ) / 100) %>
                                                 <% let tempPrice2 = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.maxDiscountAmount  %>
                                                 <% if (tempPrice2 > tempPrice1) { %>
                                                     <% offerPrice = tempPrice2 %>
                                                 <% } else {%>
                                                     <% offerPrice = tempPrice1 %>
                                                 <% } %>
                                                 
                                         <% } else if(cartItems[i].categoryOfferId.discountType === "flat") {%>
                                             <% if (cartItems[i].productId.variants[cartItems[i].variant].price > cartItems[i].categoryOfferId.productMinPrice) { %>
                                                 <% offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.discountValue %>
                                             <% } %>
                                         <% } %>
                                         <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                 <% } else if(cartItems[i].productOfferId !== null && cartItems[i].categoryOfferId === null && (cartItems[i].productOfferId.startDate <= now && cartItems[i].productOfferId.endDate >= now) ){%>
                                     <% if (cartItems[i].productOfferId.discountType === "percentage") { %>
                                         <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].productOfferId.discountValue ) / 100) %>
                                     <% } else if(cartItems[i].productOfferId.discountType === "flat") {%>
                                         <%  offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].productOfferId.discountValue %>
                                     <% } %>
                                     <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                 <% } else if(cartItems[i].productOfferId === null && cartItems[i].categoryOfferId !== null && (cartItems[i].categoryOfferId.startDate <= now && cartItems[i].categoryOfferId.endDate >= now) ){%>
                                     <% if (cartItems[i].categoryOfferId.discountType === "percentage") { %>
                                         <% let tempPrice1 = cartItems[i].productId.variants[cartItems[i].variant].price - ((cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].categoryOfferId.discountValue ) / 100) %>
                                         <% let tempPrice2 = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.maxDiscountAmount  %>
                                         <% if (tempPrice2 > tempPrice1) { %>
                                             <% offerPrice = tempPrice2 %>
                                         <% } else {%>
                                             <% offerPrice = tempPrice1 %>
                                         <% } %>
                                         
                                     <% } else if(cartItems[i].categoryOfferId.discountType === "flat") {%>
                                         <% if (cartItems[i].productId.variants[cartItems[i].variant].price > cartItems[i].categoryOfferId.productMinPrice) { %>
                                             <% offerPrice = cartItems[i].productId.variants[cartItems[i].variant].price - cartItems[i].categoryOfferId.discountValue %>
                                         <% } %>
                                     <% } %>
                                     <% subTotal += (offerPrice * cartItems[i].quantity) %>
                                 <% } else {%>
                                     <% subTotal += (cartItems[i].productId.variants[cartItems[i].variant].price * cartItems[i].quantity ) %>
                                 <% } %>
                                    <div class="py-4 px-2 mr-2 mb-2 border border-black rounded-md w-[49%] flex items-center">
                                        <input type="text" name="productId" value="<%= cartItems[i].productId._id %>" hidden>

                                        <input type="text" name="productImages" value="<%= cartItems[i].productId.variants[cartItems[i].variant].productImages[0] %>" hidden>
                                        <img src="<%= cartItems[i].productId.variants[cartItems[i].variant].productImages[0] %>" class="product-image rounded border border-black" alt="Product">
                                        <div class="ml-4 flex-1">
                                            <% let productName = null %>
                                            <% if (cartItems[i].productId.productName.length > 20) { %>
                                             <% productName = cartItems[i].productId.productName.slice(0,23) + "..." %>
                                            <% }else {%>
                                                <% productName = cartItems[i].productId.productName %>
                                                <% } %>
                                                <input type="text" name="productName" value="<%= cartItems[i].productId.productName %>" hidden>

                                            <h3 class="text-lg font-bold"><%= productName %></h3>

                                            <input type="text" name="variants" value="<%= cartItems[i].variant %>" hidden>
                                            <input type="text" name="color" value="<%= cartItems[i].productId.variants[cartItems[i].variant].color %>" hidden>

                                            <p class="text-md font-bold text-gray-500">Color: <span class="text-black font-bold"><%= cartItems[i].productId.variants[cartItems[i].variant].color %></span></p>

                                            <input type="text" name="size" value="<%= cartItems[i].productId.variants[cartItems[i].variant].size %>" hidden>

                                            <p class="text-md font-bold text-gray-500">Size: <span class="text-black font-bold"><%= cartItems[i].productId.variants[cartItems[i].variant].size %></span></p>
                                            <div class="flex items-center mt-1">
                                                <% itemsWithStock += cartItems[i].quantity %>
                                                <input type="number" name="quantity" value="<%= cartItems[i].quantity %>" hidden>

                                                <span class="text-md text-gray-600">Quantity: <span class="text-black font-bold"><%= cartItems[i].quantity %></span></span>
                                            </div>
                                            
                                            
                                            <div class="text-xl font-bold">$ 
                                                <% if (offerPrice > 0 && offerPrice < cartItems[i].productId.variants[cartItems[i].variant].price ) { %>
                                                   <span ><%= offerPrice.toFixed(2) %></span> <span class="text-sm line-through text-gray-500">$ <%= cartItems[i].productId.variants[cartItems[i].variant].price.toFixed(2) %></span>
                                                    <input type="number" name="price" value="<%= offerPrice.toFixed(2) %>" hidden>
                                                <% } else {%>
                                                     <span><%= cartItems[i].productId.variants[cartItems[i].variant].price %></span>
                                                    <input type="number" name="price" value="<%= cartItems[i].productId.variants[cartItems[i].variant].price %>" hidden>
                                                <% } %>
                                            </div>
                                        </div>
                                        
                                    </div>
                                 <% } %>
                               <% } %>
                           <% } %>
                            
                           <% if (itemsWithStock === 0) { %>
                            <div class="py-4 px-2 h-[196px] mr-2 mb-2 border border-black rounded-md w-full flex justify-center flex-wrap items-center">
                                
                                <h1 class="text-2xl font-bold mr-2">Looks like you haven’t added anything yet !</h1>
                                <a href="/shop"><button type="button"  class="btn-primary flex font-bold rounded-full px-4 py-2 mt-1 "><i data-feather="shopping-cart" class="mr-2"></i>Shop Now</button></a>
                            </div>
                           <% } %>
                            
                            
                            
                        </div>
                        
                        
                    </div>
                </div>
                <!-- Right Column - Shipping and Payment -->
                <div class="w-[35%]">
                    
                    <div class="bg-white rounded-lg shadow-sm p-6 mb-6">
                        <!-- Order Summary -->
                        <h2 class="text-xl font-bold mb-4">Order Summary</h2>
                        <div class="space-y-3 border-gray-200 pt-4">
                            
                            <div class="flex justify-between">
                                <input type="number" name="subTotal" value="<%= Number(subTotal).toFixed(2) %>" hidden>
                                <span class="text-gray-600">Subtotal (<%= itemsWithStock %> items)</span>
                                <span class="font-medium">$<%= subTotal.toFixed(2) %></span>
                            </div>
                            <div class="flex justify-between">
                                <span class="text-gray-600">Shipping</span>
                                <input type="text" name="shipping" value="Free" hidden>
                                <span class="font-medium">Free</span>
                            </div>
                            <div class="flex justify-between">
                                
                                <span class="text-gray-600">Tax</span>
                                <% let tax = (subTotal * 0.05).toFixed(2)%>
                                <input type="number" name="tax" value="<%= Number(tax) %>" hidden>
                                <span class="font-medium">$<%= tax %></span>
                            </div>
                           
                            <div class="flex justify-between text-lg font-bold pt-2">
                                <span>Total</span>
                                <% let grandTotal = (Number(subTotal) + Number(tax)).toFixed(2) %>
                                <input type="text" name="grandTotal" value="<%= grandTotal %>" hidden>
                                <span>$<%= grandTotal  %></span>
                            </div>
                        </div>
                        
                        <!-- Terms and Place Order -->
                        
                    </div>


                    <div class="bg-white rounded-lg shadow-sm p-6 mb-6">
                        <!-- Shipping Address -->
                        <h2 class="text-xl font-bold mb-4">Shipping Address</h2>
                        <div class="border-gray-200 pt-1">
                            <input type="text" name="addressId" value="<%= defaultAddress?._id %>" hidden>
                            <div class="w-full bg-yellow-300 border border-yellow-400 rounded-xl mb-2 flex-wrap p-2">
                                <p class="flex font-bold"><i data-feather="info" class="w-4 h-4 mt-1 mr-1"></i>Info :</p>
                                <ul class="list-disc ml-6 text-sm">
                                    <li>This address will be used for delivery.</li>
                                    <li> To change it, select another address and set it as default.</li>
                                    <li>Adding a new address will automatically make it your default.</li>
                               </ul>
                                
                            </div>
                            <div class="text-md font-bold ">
                                <% if (defaultAddress) { %>
                                    <p><strong>Name:</strong><span id="firstName0"> <%= defaultAddress?.firstName %></span> <span id="lastName0"><%= defaultAddress?.lastName %></span></p>
                                    <p><strong>Country:</strong><span id="country0"> <%= defaultAddress?.country %></span></p>
                                    <p><strong>State:</strong><span id="state0"> <%= defaultAddress?.state %></span></p>
                                    <p><strong>City:</strong><span id="city0"> <%= defaultAddress?.city %></span></p>
                                    <p><strong>Address:</strong><span id="address0"> <%= defaultAddress?.address %></span></p>
                                    <p><strong>Pincode:</strong><span  id="pincode0" > <%= defaultAddress?.pincode %></span></p>
                                    <p  class="mt-2"><strong>Phone:</strong><span id="mobileNo0"> <%= defaultAddress?.mobileNo  %></span></p>
                                <% } else {%>
                                    <p class="text-gray-600 font-medium">Please add a delivery address to continue with checkout.</p>
                                <% } %>
                            </div>
                           
                        </div>
                        
                        <!-- Terms and Place Order -->
                        
                    </div>
                    <!-- Payment Method -->
                    <div class="bg-white rounded-lg shadow-sm p-6 mb-6">
                        
                        <h2 class="text-xl font-bold mb-4">Payment Method</h2>
                        <div class="space-y-4">
                            <input type="text" name="paymentMethod" id="paymentMethod" hidden>
                            <button id="payWithCardBtn" type="button" class="payBtn flex w-full justify-center items-center py-3 px-4  rounded-full ">
                                
                                <h1  class="text-lg  font-bold">
                                  Pay with Credit / Debit Card 
                                </h1>
                                <i data-feather="credit-card" class="ml-2"></i>
                            </button>
                            <button id="payWithWalletBtn" type="button" class="payBtn flex w-full justify-center items-center py-3 px-4  rounded-full ">
                               
                                <h1  class="text-lg  font-bold mr-2">
                                 Pay with Nova Wallet
                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 48 48">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="3" stroke-linejoin="round" d="M43.5 21.09v-7.465a6.21 6.21 0 0 0-6.2-6.2H10.7a6.25 6.25 0 0 0-6.2 6.2v7.719" stroke-width="1" />
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="3" stroke-linejoin="round" d="M43.5 18.844a6.21 6.21 0 0 0-6.2-6.2H10.7a6.21 6.21 0 0 0-6.2 6.2" stroke-width="1" />
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="3" stroke-linejoin="round" d="M42.953 21.488a6.21 6.21 0 0 0-5.653-3.656H10.7a6.21 6.21 0 0 0-5.645 3.64" stroke-width="1" />
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="3" stroke-linejoin="round" d="M29.298 27.1L4.5 21.343v13.032a6.21 6.21 0 0 0 6.2 6.2h26.601a6.21 6.21 0 0 0 6.2-6.2V21.09l-5.915 4.302a10.2 10.2 0 0 1-8.288 1.708" stroke-width="1" />
                                </svg>
                            </button>
                            <button id="cashOnDeliveryBtn" type="button" class="payBtn w-full flex items-center  justify-center py-3 px-4 rounded-full ">
                               
                                <h1 class="text-md font-bold mr-1">
                                    Cash on Delivery 
                                    
                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 640 640">
                                    <path fill="currentColor" d="M536.3 160.9c-9.4-26.5-30.3-47.4-56.8-57c-24.1-7.9-46.3-7.9-91.6-7.9H252c-44.8 0-67.2 0-91.3 7.5c-26.5 9.6-47.4 30.5-57 57c-7.7 24.3-7.7 46.7-7.7 91.7v135.6c0 45.2 0 67.4 7.5 91.5c9.6 26.5 30.5 47.4 57 57c24.3 7.7 46.7 7.7 91.6 7.7h135.7c45 0 67.4 0 91.6-7.7c26.5-9.6 47.4-30.5 57-57c7.7-24.3 7.7-46.7 7.7-91.5V252.3c0-45 0-67.4-7.7-91.5zm-117.2 88.5l-25.8 21.1c-2.3 1.9-5.5 1.5-7.3-.9c-13.2-16.2-33.7-25.4-56.1-25.4c-25 0-40.6 10.9-40.6 26.2c-.4 12.8 11.7 19.6 49.1 27.7c47.2 10 68.7 29.7 68.7 62.7c0 41.4-33.7 71.9-86.4 75.3l-5.1 24.5c-.4 2.3-2.6 4.1-5.1 4.1h-40.6c-3.4 0-5.8-3.2-5.1-6.4l6.4-27.3c-26-7.5-47.2-22-59.3-39.7c-1.5-2.3-1.1-5.3 1.1-7l28.2-22c2.3-1.9 5.8-1.3 7.5 1.1c14.9 20.9 38 33.3 65.7 33.3c25 0 43.8-12.2 43.8-29.7c0-13.4-9.4-19.6-41.2-26.2c-54.2-11.7-75.8-31.8-75.8-64.9c0-38.4 32.2-67.2 80.9-71l5.3-25.4c.4-2.3 2.6-4.1 5.1-4.1h39.9c3.2 0 5.8 3 5.1 6.2l-6.2 28.4c20.9 6.4 38 17.9 48.7 32.2c1.7 2.1 1.3 5.3-.9 7z" />
                                </svg>
                            </button>

                            <div class="mt-6">
                                <label class="flex items-start">
                                    <!-- <input type="checkbox" class="h-4 w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded mt-1" name="terms"> -->
                                    <!-- <span class="ml-2 block text-sm text-gray-700">
                                        I agree to the <a href="#" class="text-blue-600 hover:text-blue-800">Terms and Conditions</a> and <a href="#" class="text-blue-600 hover:text-blue-800">Refund Policy</a>
                                    </span> -->
                                </label>
                                <% if (itemsWithStock === 0) { %>
                                    <button id="placeOrderBtn" type="submit" class="w-full mt-4 py-3 px-4 bg-gray-200 text-gray-400 font-bold rounded-full transition duration-300 flex items-center justify-center hidden" disabled>
                                        <span>Place Order</span>
                                        <i data-feather="package" class="w-5 h-5 ml-2"></i>
                                    </button>
                                <% } else { %>
                                    <button id="placeOrderBtn" type="submit" class="w-full mt-4 py-3 px-4 btn-primary  font-bold rounded-full transition duration-300 flex items-center justify-center hidden" >
                                        <span>Place Order</span>
                                        <i data-feather="package" class="w-5 h-5 ml-2"></i>
                                    </button>
                                    <% } %>
                               
                                
                                
                            </div>
                        </div>
                    </div>

                   
                    
                </div>

                
                
               
            </div>
          </form>
        </div>
        
        
    </div>

    <!-- Add Address Modal -->
    <div id="addAddressModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg p-6 w-full max-w-md">
            <div class="flex justify-between items-center mb-4">
                <h2 id="addressFormHeading" class="text-xl font-bold">Add New Address</h2>
                <button id="closeAddAddressModalBtn" onclick="closeAddAddressModal()" class="text-gray-500 hover:text-gray-700">
                    <i data-feather="x"></i>
                </button>
            </div>
            <form id="addressModal" action="/address" method="post" class="space-y-4"  novalidate>
                <input type="text" name="redirect" value="/checkout" hidden>
                
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    </div>
                    
                </div>
                <div>
                    <p id="reg-name-p" class="text-xs text-gray-500 mt-1">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="13"
                        fill="currentColor"
                        class="bi bi-info-circle inline-block"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                        />
                        <path
                          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                        />
                      </svg>
                      Name must contain only letters and spaces, with at least 5
                      characters and should not contain any number
                    </p>
                  </div>
                <div class="flex items-center">
                    <input type="checkbox" id="accountName" class="h-4 w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded">
                    <label id="forAccountName" for="accountName" class="ml-2 block text-sm text-gray-700">Same as account name</label>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">State / Province</label>
                        <input type="text" id="state" name="state" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">City</label>
                        <input type="text" id="city" name="city" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    </div>
                </div>
    
                <div class="grid grid-cols-2 gap-4">
                    
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">Country</label>
                        <select id="countryList" name="country" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" onchange="doesTheCountryHavePincode(this.value)">
    
                            <option value="" selected>Select Country</option>
    
                            <option value="AF">🇦🇫 Afghanistan</option>
                            <option value="AL">🇦🇱 Albania</option>
                            <option value="DZ">🇩🇿 Algeria</option>
                            <option value="AD">🇦🇩 Andorra</option>
                            <option value="AO">🇦🇴 Angola</option>
                            <option value="AG">🇦🇬 Antigua and Barbuda</option>
                            <option value="AR">🇦🇷 Argentina</option>
                            <option value="AM">🇦🇲 Armenia</option>
                            <option value="AU">🇦🇺 Australia</option>
                            <option value="AT">🇦🇹 Austria</option>
                            <option value="AZ">🇦🇿 Azerbaijan</option>
                            
                            <option value="BS">🇧🇸 Bahamas</option>
                            <option value="BH">🇧🇭 Bahrain</option>
                            <option value="BD">🇧🇩 Bangladesh</option>
                            <option value="BB">🇧🇧 Barbados</option>
                            <option value="BY">🇧🇾 Belarus</option>
                            <option value="BE">🇧🇪 Belgium</option>
                            <option value="BZ">🇧🇿 Belize</option>
                            <option value="BJ">🇧🇯 Benin</option>
                            <option value="BT">🇧🇹 Bhutan</option>
                            <option value="BO">🇧🇴 Bolivia</option>
                            <option value="BA">🇧🇦 Bosnia and Herzegovina</option>
                            <option value="BW">🇧🇼 Botswana</option>
                            <option value="BR">🇧🇷 Brazil</option>
                            <option value="BN">🇧🇳 Brunei</option>
                            <option value="BG">🇧🇬 Bulgaria</option>
                            <option value="BF">🇧🇫 Burkina Faso</option>
                            <option value="BI">🇧🇮 Burundi</option>
                            
                            <option value="KH">🇰🇭 Cambodia</option>
                            <option value="CM">🇨🇲 Cameroon</option>
                            <option value="CA">🇨🇦 Canada</option>
                            <option value="CV">🇨🇻 Cape Verde</option>
                            <option value="CF">🇨🇫 Central African Republic</option>
                            <option value="TD">🇹🇩 Chad</option>
                            <option value="CL">🇨🇱 Chile</option>
                            <option value="CN">🇨🇳 China</option>
                            <option value="CO">🇨🇴 Colombia</option>
                            <option value="KM">🇰🇲 Comoros</option>
                            <option value="CG">🇨🇬 Congo</option>
                            <option value="CR">🇨🇷 Costa Rica</option>
                            <option value="HR">🇭🇷 Croatia</option>
                            <option value="CU">🇨🇺 Cuba</option>
                            <option value="CY">🇨🇾 Cyprus</option>
                            <option value="CZ">🇨🇿 Czech Republic</option>
                            
                            <option value="DK">🇩🇰 Denmark</option>
                            <option value="DJ">🇩🇯 Djibouti</option>
                            <option value="DM">🇩🇲 Dominica</option>
                            <option value="DO">🇩🇴 Dominican Republic</option>
                            
                            <option value="EC">🇪🇨 Ecuador</option>
                            <option value="EG">🇪🇬 Egypt</option>
                            <option value="SV">🇸🇻 El Salvador</option>
                            <option value="GQ">🇬🇶 Equatorial Guinea</option>
                            <option value="ER">🇪🇷 Eritrea</option>
                            <option value="EE">🇪🇪 Estonia</option>
                            <option value="SZ">🇸🇿 Eswatini</option>
                            <option value="ET">🇪🇹 Ethiopia</option>
                            
                            <option value="FJ">🇫🇯 Fiji</option>
                            <option value="FI">🇫🇮 Finland</option>
                            <option value="FR">🇫🇷 France</option>
                            
                            <option value="GA">🇬🇦 Gabon</option>
                            <option value="GM">🇬🇲 Gambia</option>
                            <option value="GE">🇬🇪 Georgia</option>
                            <option value="DE">🇩🇪 Germany</option>
                            <option value="GH">🇬🇭 Ghana</option>
                            <option value="GR">🇬🇷 Greece</option>
                            <option value="GD">🇬🇩 Grenada</option>
                            <option value="GT">🇬🇹 Guatemala</option>
                            <option value="GN">🇬🇳 Guinea</option>
                            <option value="GW">🇬🇼 Guinea-Bissau</option>
                            <option value="GY">🇬🇾 Guyana</option>
                            
                            <option value="HT">🇭🇹 Haiti</option>
                            <option value="HN">🇭🇳 Honduras</option>
                            <option value="HU">🇭🇺 Hungary</option>
                            
                            <option value="IS">🇮🇸 Iceland</option>
                            <option value="IN">🇮🇳 India</option>
                            <option value="ID">🇮🇩 Indonesia</option>
                            <option value="IR">🇮🇷 Iran</option>
                            <option value="IQ">🇮🇶 Iraq</option>
                            <option value="IE">🇮🇪 Ireland</option>
                            <option value="IL">🇮🇱 Israel</option>
                            <option value="IT">🇮🇹 Italy</option>
                            
                            <option value="JM">🇯🇲 Jamaica</option>
                            <option value="JP">🇯🇵 Japan</option>
                            <option value="JO">🇯🇴 Jordan</option>
                            
                            <option value="KZ">🇰🇿 Kazakhstan</option>
                            <option value="KE">🇰🇪 Kenya</option>
                            <option value="KI">🇰🇮 Kiribati</option>
                            <option value="KP">🇰🇵 North Korea</option>
                            <option value="KR">🇰🇷 South Korea</option>
                            <option value="KW">🇰🇼 Kuwait</option>
                            <option value="KG">🇰🇬 Kyrgyzstan</option>
                            
                            <option value="LA">🇱🇦 Laos</option>
                            <option value="LV">🇱🇻 Latvia</option>
                            <option value="LB">🇱🇧 Lebanon</option>
                            <option value="LS">🇱🇸 Lesotho</option>
                            <option value="LR">🇱🇷 Liberia</option>
                            <option value="LY">🇱🇾 Libya</option>
                            <option value="LI">🇱🇮 Liechtenstein</option>
                            <option value="LT">🇱🇹 Lithuania</option>
                            <option value="LU">🇱🇺 Luxembourg</option>
                            
                            <option value="MG">🇲🇬 Madagascar</option>
                            <option value="MW">🇲🇼 Malawi</option>
                            <option value="MY">🇲🇾 Malaysia</option>
                            <option value="MV">🇲🇻 Maldives</option>
                            <option value="ML">🇲🇱 Mali</option>
                            <option value="MT">🇲🇹 Malta</option>
                            <option value="MH">🇲🇭 Marshall Islands</option>
                            <option value="MR">🇲🇷 Mauritania</option>
                            <option value="MU">🇲🇺 Mauritius</option>
                            <option value="MX">🇲🇽 Mexico</option>
                            <option value="FM">🇫🇲 Micronesia</option>
                            <option value="MD">🇲🇩 Moldova</option>
                            <option value="MC">🇲🇨 Monaco</option>
                            <option value="MN">🇲🇳 Mongolia</option>
                            <option value="ME">🇲🇪 Montenegro</option>
                            <option value="MA">🇲🇦 Morocco</option>
                            <option value="MZ">🇲🇿 Mozambique</option>
                            <option value="MM">🇲🇲 Myanmar</option>
                            
                            <option value="NA">🇳🇦 Namibia</option>
                            <option value="NR">🇳🇷 Nauru</option>
                            <option value="NP">🇳🇵 Nepal</option>
                            <option value="NL">🇳🇱 Netherlands</option>
                            <option value="NZ">🇳🇿 New Zealand</option>
                            <option value="NI">🇳🇮 Nicaragua</option>
                            <option value="NE">🇳🇪 Niger</option>
                            <option value="NG">🇳🇬 Nigeria</option>
                            <option value="MK">🇲🇰 North Macedonia</option>
                            <option value="NO">🇳🇴 Norway</option>
                            
                            <option value="OM">🇴🇲 Oman</option>
                            
                            <option value="PK">🇵🇰 Pakistan</option>
                            <option value="PW">🇵🇼 Palau</option>
                            <option value="PA">🇵🇦 Panama</option>
                            <option value="PG">🇵🇬 Papua New Guinea</option>
                            <option value="PY">🇵🇾 Paraguay</option>
                            <option value="PE">🇵🇪 Peru</option>
                            <option value="PH">🇵🇭 Philippines</option>
                            <option value="PL">🇵🇱 Poland</option>
                            <option value="PT">🇵🇹 Portugal</option>
                            
                            <option value="QA">🇶🇦 Qatar</option>
                            
                            <option value="RO">🇷🇴 Romania</option>
                            <option value="RU">🇷🇺 Russia</option>
                            <option value="RW">🇷🇼 Rwanda</option>
                            
                            <option value="SA">🇸🇦 Saudi Arabia</option>
                            <option value="SN">🇸🇳 Senegal</option>
                            <option value="RS">🇷🇸 Serbia</option>
                            <option value="SC">🇸🇨 Seychelles</option>
                            <option value="SL">🇸🇱 Sierra Leone</option>
                            <option value="SG">🇸🇬 Singapore</option>
                            <option value="SK">🇸🇰 Slovakia</option>
                            <option value="SI">🇸🇮 Slovenia</option>
                            <option value="SB">🇸🇧 Solomon Islands</option>
                            <option value="SO">🇸🇴 Somalia</option>
                            <option value="ZA">🇿🇦 South Africa</option>
                            <option value="SS">🇸🇸 South Sudan</option>
                            <option value="ES">🇪🇸 Spain</option>
                            <option value="LK">🇱🇰 Sri Lanka</option>
                            <option value="SD">🇸🇩 Sudan</option>
                            <option value="SR">🇸🇷 Suriname</option>
                            <option value="SE">🇸🇪 Sweden</option>
                            <option value="CH">🇨🇭 Switzerland</option>
                            <option value="SY">🇸🇾 Syria</option>
                            
                            <option value="TW">🇹🇼 Taiwan</option>
                            <option value="TJ">🇹🇯 Tajikistan</option>
                            <option value="TZ">🇹🇿 Tanzania</option>
                            <option value="TH">🇹🇭 Thailand</option>
                            <option value="TL">🇹🇱 Timor-Leste</option>
                            <option value="TG">🇹🇬 Togo</option>
                            <option value="TO">🇹🇴 Tonga</option>
                            <option value="TT">🇹🇹 Trinidad and Tobago</option>
                            <option value="TN">🇹🇳 Tunisia</option>
                            <option value="TR">🇹🇷 Turkey</option>
                            <option value="TM">🇹🇲 Turkmenistan</option>
                            <option value="TV">🇹🇻 Tuvalu</option>
                            
                            <option value="UG">🇺🇬 Uganda</option>
                            <option value="UA">🇺🇦 Ukraine</option>
                            <option value="AE">🇦🇪 United Arab Emirates</option>
                            <option value="GB">🇬🇧 United Kingdom</option>
                            <option value="US">🇺🇸 United States</option>
                            
                            <option value="UY">🇺🇾 Uruguay</option>
                            <option value="UZ">🇺🇿 Uzbekistan</option>
                            
                            <option value="VU">🇻🇺 Vanuatu</option>
                            <option value="VA">🇻🇦 Vatican City</option>
                            <option value="VE">🇻🇪 Venezuela</option>
                            <option value="VN">🇻🇳 Vietnam</option>
                            
                            <option value="YE">🇾🇪 Yemen</option>
                            
                            <option value="ZM">🇿🇲 Zambia</option>
                            <option value="ZW">🇿🇼 Zimbabwe</option>
                        
                          </select>
                          
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">Postal Code / Pincode / ZIP</label>
                        <input type="text" id="pincode" name="pincode" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    </div>
                </div>
    
                 
                <div>
                    <label for="phoneNumber" class="block text-sm font-medium text-gray-700 mb-1">Phone Number</label>
                    <input type="tel" id="phoneNumber" name="mobileNo" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
                
    
    
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Address</label>
                    <textarea type="text" id="address" name="address" class=" border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"></textarea>
                </div>
                
                <div class="flex items-center hidden">
                    <input type="checkbox" id="defaultAddress" name="isDefault" value="true" class="h-4 w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded" checked>
                    <label id="forDefaultAddress" for="defaultAddress" class="ml-2 block text-sm text-gray-700">Set as default address</label>
                </div>
                
                <div class="flex justify-end space-x-3 pt-4">
                    <button id="cancelAddAddressModalBtn" type="button" onclick="closeAddAddressModal()" class="px-4 py-2 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50">
                        Cancel
                    </button>
                    <button type="submit" class="btn-primary font-bold px-4 py-2 border border-transparent rounded-lg ">
                        Save Address
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        let serverMessage = document.getElementById("serverMessage").value
        document.getElementById("cashOnDeliveryBtn").addEventListener("click",function(){
            document.getElementById("placeOrderBtn").classList.remove("hidden")

            setTimeout(function(){
                document.getElementById("placeOrderBtn").classList.add("hidden") 
            },10000)
            
        })
        
      document.getElementById("payWithCardBtn").addEventListener("click",function(){
        document.getElementById("paymentMethod").value = "Pay with Stripe"
        document.getElementById("payWithCardBtn").type = "submit"
        document.getElementById("placeOrderBtn").type = "button"
        document.getElementById("payWithWalletBtn").type = "button"
        // document.getElementById("orderForm").action = "/create-checkout-session"
        document.getElementById("orderForm").submit()
      })
      document.getElementById("placeOrderBtn").addEventListener("click",function(){
        document.getElementById("paymentMethod").value = "Cash on Delivery"
        document.getElementById("payWithCardBtn").type = "button"
        document.getElementById("placeOrderBtn").type = "submit"
        document.getElementById("payWithWalletBtn").type = "button"
        // document.getElementById("orderForm").action = "/create-checkout-session"
        document.getElementById("orderForm").submit()
      })
      document.getElementById("payWithWalletBtn").addEventListener("click",function(){
        document.getElementById("paymentMethod").value = "Pay with NovaWallet"
        document.getElementById("payWithCardBtn").type = "button"
        document.getElementById("placeOrderBtn").type = "button"
        document.getElementById("payWithWalletBtn").type = "submit"
        // document.getElementById("orderForm").action = "/create-checkout-session"
        document.getElementById("orderForm").submit()
      })


        let defaultAddressCard = document.getElementById("defaultAddressCard")
        if(defaultAddressCard === null){
                iziToast.info({
                    title: "Address Required",
                    message: "Please add a delivery address to continue checkout.",
                    position: "topRight",
                    timeout: 3000
                });

            document.getElementById("addAddressModal").classList.remove("hidden")
            document.getElementById("cancelAddAddressModalBtn").classList.add("hidden")
            document.getElementById("closeAddAddressModalBtn").classList.add("hidden")
        }
        if(serverMessage === "Insufficient Balance in NovaWallet, Please Top-up the wallet or Pay with Card"){
            iziToast.error({
                title : "Wallet",
                message : serverMessage,
                position : "topRight"
            })
        }
    </script>
    
    <%- include("../../public/javascript/user-javascript/address-management.ejs")%>
<%- include("../partials/user-side/footer.ejs")%>