
<%- include("../partials/user-side/navbar.ejs",{title : "Novamart - My Profile"})%>
<div class="flex ">
    <%- include("../partials/user-side/userProfile-sidebar.ejs",{dashboardBtn : "",profileBtn : "active disabled",ordersBtn : "",shoppingCartBtn : "",addressBtn : "",walletBtn : ""})%>
        <div class="main-content">
            <h1 class="text-3xl font-bold mb-8">My Profile</h1>
            <input type="text"  id="serverMessage" value="<%= message %>" hidden>
            <div class="w-full h-[6.4rem] profile-card mb-2 p-4">
                <h1 class="ml-1 mb-1 font-bold">Refer & Earn : <span class="text-gray-500 font-medium">(Refer to your friends and family to earn a coupon)</span></h1>
                <input type="text" id="referral-link" value="<%= referralUrl %>" class="w-[91%] px-2 py-2 rounded-md border border-gray-w00" disabled>
                <button type="button" id="copyBtn" class="btn-primary font-bold px-4 py-2 rounded-lg" onclick="copyToClipboard()">Copy</button>
            </div>
            <div class="flex gap-6">
                <div class="w-[45%]">
                    <div class="profile-card  p-6">
                        <div class="flex flex-col items-center">
                            <div class="avatar-upload mb-4">
                               <% if (user.profileImage === null) { %>
                                <div class="avatar-preview">
                                    <img src="/images/user.jpg" class="w-32 h-32 border border-gray-300 rounded-full object-cover" id="imagePreview" alt="Profile">
                                </div>
                               <% } else {%>
                                <div class="avatar-preview">
                                    <img src="<%= user.profileImage %>" class="w-32 h-32 border border-gray-300 rounded-full object-cover" id="imagePreview" alt="Profile">
                                </div>
                                <% } %>
                                
                            </div>
                            <h2 class="text-xl font-bold"><%= user.firstName +" "+ user.lastName %></h2>
                            <p class="text-gray-600 mb-4"><%= user.email %></p>
                            <a href="/edit-profile">
                                <button type="button" class="px-4 py-2  btn-primary text-gray-700 font-bold rounded-xl focus:outline-none focus:ring-2 ">
                                    Edit Profile
                                </button>
                            </a>
                        </div>
                    </div>
                    <% if (!user.googleId) { %>
                    <div class="profile-card p-6 mt-6">
                        <h2 class="text-lg font-bold mb-4">Account Security</h2>
                        <div class="space-y-4">
                            <div class="flex items-center justify-between">
                                <div class="w-full">
                                    
                                    <p class="font-medium mb-4">Email</p>
                                    <p class="font-medium ">Password</p>
                                        
    
                                </div>
                                <div class="w-full text-end">
                                    
                                   
                                    <a href="/email-auth-for-new-email">
                                        <button type="button" class="px-2 py-1 mb-2 btn-primary text-gray-700 font-bold rounded-xl focus:outline-none focus:ring-2 ">
                                            Update Email
                                        </button>
                                    </a>
                                    <a href="/email-auth?location=Profile">
                                        <button type="button" class="px-2 py-1  btn-primary text-gray-700 font-bold rounded-xl focus:outline-none focus:ring-2 ">
                                            Update Password
                                        </button>
                                    </a>
                                   

                                </div>
                               
                                
                            </div>
                            
                        </div>
                    </div>
                    <% } else {%>
                            <div  class="profile-card p-6 mt-6">
                                <div class="flex justify-between mb-2">
                                            <h2 class="text-xl font-bold mt-2">Address Book</h2>
                                        <a href="/address">
                                            <button type="button" class="px-4 py-2  btn-primary text-gray-700 font-bold rounded-xl focus:outline-none focus:ring-2 ">
                                                Add / Update Address
                                            </button>
                                        </a>
                                </div>
                                <div class="flex gap-4 ">
                                    <% if (defaultAddress) { %>
                                        <div class="border rounded-md p-4 mt-2 relative min-w-[50%] max-w-[50%]">
                                            <div class="flex justify-between items-start mb-2 ">
                                                <h3 class="font-medium">Default Address</h3>
                                                <span class="bg-green-100 text-green-800 text-xs px-2 py-1 rounded">Default</span>
                                            </div>
                                            <p class="text-gray-600 text-sm"><%= defaultAddress.firstName + " " + defaultAddress.lastName %></p>
                                            <p class="text-gray-600 text-sm"><%= defaultAddress.city + " " + defaultAddress.state +", "+defaultAddress.pincode %></p>
                                            <p class="text-gray-600 text-sm"><%= defaultAddress.country %></p>
                                            <p class="text-gray-600 text-sm"><%= defaultAddress.address %></p>
                                           
                                        </div>
                                    <% } else { %>
                                        <div class="border rounded-md p-4 mt-2 relative min-w-[50%] max-w-[50%]">
                                            <div class="flex justify-between items-start mb-2 ">
                                                <h3 class="font-medium text-gray-400">Default Address</h3>
                                                <span class="bg-gray-100 text-gray-400 text-xs px-2 py-1 rounded">Default</span>
                                            </div>
                                            <h1 class="text-5xl text-gray-200">Not Provided</h1>
                                           
                                        </div>
                                        <% } %>
                                    <!-- More address cards would go here -->
                                     
                                        <% if (address) { %>
                                            <div class="border rounded-md p-4 mt-2 relative min-w-[48%] max-w-[48%]">
                                                <div class="flex justify-between items-start mb-2 ">
                                                    <h3 class="font-medium">Other Address</h3>
                                                    
                                                </div>
                                                <p class="text-gray-600 text-sm"><%= address.firstName + " " + address.lastName %></p>
                                                <p class="text-gray-600 text-sm"><%= address.city + " " + address.state +", "+address.pincode %></p>
                                                <p class="text-gray-600 text-sm"><%= address.country %></p>
                                                <p class="text-gray-600 text-sm"><%= address.address %></p>
                                               
                                            </div>
                                        <% } %>
                                    
                                </div>
                               
                            </div>
                        <% } %>
                </div>
                
                
                <div class="w-[55%]">
                    <div class="profile-card p-6 ">
                        <h2 class="text-xl font-bold mb-6">Personal Information</h2>
                        
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">First Name</label>
                                    <input type="text" class="w-full px-3 py-2 border border-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" value="<%= user.firstName %>" disabled>
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Last Name</label>
                                    <input type="text" class="w-full px-3 py-2 border border-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" value="<%= user.lastName %>" disabled>
                                </div>
                            </div>
                            
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                                <input type="email" class="w-full px-3 py-2 border border-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" value="<%= user.email %>" disabled>
                            </div>
                            
                            <% if (!user.phone) { %>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700 mb-1">Phone Number</label>
                                    <input type="tel" class="w-full px-3 py-2 border border-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" value="Not Provided" disabled>
                                </div>
                            <% } else {%>
                                <a href="#">
                                    <div>
                                        <label class="block text-sm font-medium text-gray-700 mb-1">Phone Number</label>
                                        <input type="tel" class="w-full px-3 py-2 border border-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" value="<%= user.phone %>" disabled>
                                    </div>
                              </a>
                                <%}%>
                            
                           
                            
                            
                        
                    </div>
                    <% if (!user.googleId) { %>
                    <div  class="profile-card p-6 mt-6">
                        <div class="flex justify-between mb-2">
                                    <h2 class="text-xl font-bold mt-2">Address Book</h2>
                                <a href="/address">
                                    <button type="button" class="px-4 py-2  btn-primary text-gray-700 font-bold rounded-xl focus:outline-none focus:ring-2 ">
                                        Add / Update Address
                                    </button>
                                </a>
                        </div>
                        <div class="flex gap-4 ">
                            <% if (defaultAddress) { %>
                                <div class="border rounded-md p-4 mt-2 relative min-w-[50%] max-w-[50%]">
                                    <div class="flex justify-between items-start mb-2 ">
                                        <h3 class="font-medium">Default Address</h3>
                                        <span class="bg-green-100 text-green-800 text-xs px-2 py-1 rounded">Default</span>
                                    </div>
                                    <p class="text-gray-600 text-sm"><%= defaultAddress.firstName + " " + defaultAddress.lastName %></p>
                                    <p class="text-gray-600 text-sm"><%= defaultAddress.city + " " + defaultAddress.state +", "+defaultAddress.pincode %></p>
                                    <p class="text-gray-600 text-sm"><%= defaultAddress.country %></p>
                                    <p class="text-gray-600 text-sm"><%= defaultAddress.address %></p>
                                   
                                </div>
                            <% } else { %>
                                <div class="border rounded-md p-4 mt-2 relative min-w-[50%] max-w-[50%]">
                                    <div class="flex justify-between items-start mb-2 ">
                                        <h3 class="font-medium text-gray-400">Default Address</h3>
                                        <span class="bg-gray-100 text-gray-400 text-xs px-2 py-1 rounded">Default</span>
                                    </div>
                                    <h1 class="text-5xl text-gray-200">Not Provided</h1>
                                   
                                </div>
                                <% } %>
                            <!-- More address cards would go here -->
                             
                                <% if (address) { %>
                                    <div class="border rounded-md p-4 mt-2 relative min-w-[48%] max-w-[48%]">
                                        <div class="flex justify-between items-start mb-2 ">
                                            <h3 class="font-medium">Other Address</h3>
                                            
                                        </div>
                                        <p class="text-gray-600 text-sm"><%= address.firstName + " " + address.lastName %></p>
                                        <p class="text-gray-600 text-sm"><%= address.city + " " + address.state +", "+address.pincode %></p>
                                        <p class="text-gray-600 text-sm"><%= address.country %></p>
                                        <p class="text-gray-600 text-sm"><%= address.address %></p>
                                       
                                    </div>
                                <% } %>
                            
                        </div>
                       
                        
                        
                    </div>
                    
                    <% } %>
                </div>
            </div>
        </div>
        
</div>

    
    <script>
        feather.replace();
        function copyToClipboard() {
            const text = document.getElementById("referral-link").value;

            // Use the modern Clipboard API to copy
            navigator.clipboard.writeText(text).then(() => {
                document.getElementById("copyBtn").innerText = "Copied"
                setTimeout(() => {
                   document.getElementById("copyBtn").innerText = "Copy"
                },10000)
            }).catch(err => {
                console.error('Failed to copy: ', err);
            });
            }
        const serverMessage = document.getElementById("serverMessage").value 

    
        if(serverMessage === "Password Updated Successfully"){
            iziToast.success({
                title : "Success",
                message : serverMessage,
                position : "topRight"
            })
        }
        if(serverMessage === "Email Updated Successfully"){
            iziToast.success({
                title : "Success",
                message : serverMessage,
                position : "topRight"
            })
        }
        if(serverMessage === "Profile Updated Successfully"){
            iziToast.success({
                title : "Success",
                message : serverMessage,
                position : "topRight"
            })
        }
        
        // Image preview for avatar upload
       
    </script>
    <%- include("../partials/user-side/footer.ejs")%>

