<%- include("../partials/user-side/navbar.ejs")%>
<input id="isInProductPage" type="text" value="Yes" hidden>
  <!-- Product Section -->
  <main class="max-w-7xl mx-auto py-8 px-6">
    <div class="flex items-center " style="margin-bottom: 12px;">
      <a href="/" class="border border-gray-700 rounded-full px-2 py-2">
          
            <i data-feather="arrow-left" class="w-6 h-6 "></i>
            
      </a>
      <span class="ml-2">Back to Home</span>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- Left - Image -->
      <div>
    
        <div id="imageZoom" style=" 
          --url : url(<%= product.variants[variant].productImages[0] %>);
          --zoom-x : 0%; --zoom-y : 0%;
          --display : none;
         " class="shadow-lg">
          <img id="mainImage" src="<%= product.variants[variant].productImages[0] %>" alt="Bag" class="  rounded-lg border shadow-sm">
        </div>
        <div class="w-[500px] flex flex-wrap mt-4">
          <% for( let i = 0; i < product.variants[variant].productImages.length; i++ ) { %>
           
          <img src="<%= product.variants[variant].productImages[i] %>" class="thumbnail w-16 h-16 border rounded-md cursor-pointer hover:ring-2 hover:ring-emerald-500 mr-1 mb-1" />
           
          <% } %>
          
        </div>
      </div>

      <!-- Right - Details -->
      <div>
        <h2 class="text-2xl font-semibold leading-snug">
          <%= product.productName %>
        </h2>
        <p class="text-yellow-500 mt-2">★★★★★ <span class="text-gray-500 text-sm">(65 Reviews)</span> 
          <% if (product.variants[variant].stockQuantity === 0 || product.variants[variant].stockStatus === "Out of Stock") { %>
            <span class="text-red-500 text-sm">Out of Stock</span>
          <% } else {%>
            <span class="text-green-500 text-sm">In Stock</span>
            <% } %>
       </p>
        <div class="flex items-center gap-3 mt-3">
            <p class="text-sm font-medium text-black"><%= product.description %></p>
          </div>
          <div class="flex items-center gap-3 mt-3"><form id="colorForm" class="flex gap-3 flex-wrap">
            <form>
              <% if (product.variants.length > 1) { %>
              <% for( let i = 0; i < product.variants.length; i++ ) { %>
                <% if (variant == i) { %>
                  <label class="cursor-pointer">
                    <input type="radio" name="color" value="<%= product.variants[i].size %>" class="hidden peer" checked>
                    <div class="border border-gray-300 px-5 py-2 rounded-lg peer-checked:bg-black peer-checked:text-white transition">
                      <%= product.variants[i].size %>
                    </div>
                  </label>
                <% }else{ %>
                  <label class="cursor-pointer">
                    <input type="radio" name="color" value="<%= product.variants[i].size %>" class="hidden peer" >
                    <a href="/product?id=<%= product._id %>&variant=<%= i %>">
                      <div class="border border-gray-300 px-5 py-2 rounded-lg peer-checked:bg-black peer-checked:text-white transition">
                        <%= product.variants[i].size %>
                      </div>
                    </a>
                  </label>
                  <% }%>
            
             <% } %>
            <% }else{ %>
              <div class="border border-gray-500 px-5 py-2 rounded-lg peer-checked:bg-black peer-checked:text-white transition">
                <%= product.variants[variant].size %>
              </div>
              <%}%>
          </form>
          </div>
          
        <div class="flex items-center gap-3 mt-3">
          <p class="text-3xl font-bold text-black">$<%= (product.variants[variant].price).toFixed(2) %></p>
          <!-- <p class="line-through text-gray-400 text-lg"></p> -->
        </div>
        <div class=" items-center gap-3 mt-3">
            <p class="text-gray-600 flex"><span class="iconify text-green-400" data-icon="charm-tick" style="width: 20;height: 20;"></span>&ensp;Free Delivery</p>
            <p class="text-gray-600 flex"><span class="iconify text-green-400" data-icon="charm-tick" style="width: 20;height: 20;"></span>&ensp;Secure Payment</p>
          </div>
        <div class="flex items-center gap-3 mt-4">
          <% if (product.variants[variant].stockQuantity !== 0 || product.variants[variant].stockStatus !== "Out of Stock") { %>
            <% if (isProductInCart) { %>
              <div id="incDecQtyDiv" class="flex items-center mt-2">
                <button id="decQtyBtn" type="button" class="text-center rounded-full px-2 py-2 crop-btn mr-1 " onclick="decrementQuantityFromProductPage('<%- variant %>','<%- product._id %>')">
                    <i data-feather="minus"></i>
                </button> 
                <input type="text" id="quantity<%= product._id %><%= variant %>" value="<%= isProductInCart.quantity %>" class="border bg-white w-[3rem] px-2 text-xl rounded-full py-2 text-center" disabled>
                <button id="incQtyBtn" type="button" class="text-center rounded-full px-2 py-2 ml-1 crop-btn " onclick="incrementQuantityFromProductPage('<%- variant %>','<%- product._id %>')">
                    <i data-feather="plus"></i>
                </button>
              </div>
            <% } else {%>
              <div id="incDecQtyDiv" class="flex items-center mt-2 hidden">
                <button id="decQtyBtn" type="button" class="text-center rounded-full px-2 py-2 crop-btn mr-1 " onclick="decrementQuantityFromProductPage('<%- variant %>','<%- product._id %>')">
                    <i data-feather="minus"></i>
                </button> 
                <input type="text" id="quantity<%= product._id %><%= variant %>" value="1" class="border bg-white w-[3rem] px-2 text-xl rounded-full py-2 text-center" disabled>
                <button id="incQtyBtn" type="button" class="text-center rounded-full px-2 py-2 ml-1 crop-btn " onclick="incrementQuantityFromProductPage('<%- variant %>','<%- product._id %>')">
                    <i data-feather="plus"></i>
                </button>
              </div>
             <% } %>
            <% } %>
        
        </div>
        <div class="flex items-center gap-3 mt-4">
           <% if (product.variants[variant].stockQuantity === 0 || product.variants[variant].stockStatus === "Out of Stock") { %>
            <button id="buyNow" class="bg-gray-200  text-gray-400 font-extrabold  px-3 py-3 rounded-lg shadow" disabled>Buy Now</button>
            <button id="addToCartBtn<%= product._id %><%= variant %>" class="bg-gray-200  flex text-gray-400 font-semibold items-center px-6 py-2 rounded-lg shadow" onclick="addToCartInitiallyFromProductPage(this,'<%= variant %>','<%= product._id %>')" disabled>
                <span class="iconify mr-1" data-icon="solar-cart-3-linear" style="width: 32;height: 32;"></span>Add to Cart</button>
           <% } else {%>
            <% if (isProductInCart) { %>
              <button id="buyNow" class="bg-yellow-400 hover:bg-yellow-300 text-gray-700 font-extrabold  px-3 py-3 rounded-lg shadow">Buy Now</button>
              <button id="addToCartBtn<%= product._id %><%= variant %>" class="bg-yellow-400 flex justify-between items-center hover:bg-yellow-300 text-gray-700 font-semibold  px-3 py-2 rounded-lg shadow hidden" onclick="addToCartInitiallyFromProductPage(this,'<%= variant %>','<%= product._id %>')">
                  <span class="iconify mr-1" data-icon="solar-cart-3-linear" style="width: 32;height: 32;" ></span>Add to Cart</button>
            <% } else { %>
              <button id="buyNow" class="bg-yellow-400 hover:bg-yellow-300 text-gray-700 font-extrabold  px-3 py-3 rounded-lg shadow">Buy Now</button>
            <button id="addToCartBtn<%= product._id %><%= variant %>" class="bg-yellow-400 flex justify-between items-center hover:bg-yellow-300 text-gray-700 font-semibold  px-3 py-2 rounded-lg shadow " onclick="addToCartInitiallyFromProductPage(this,'<%= variant %>','<%= product._id %>')">
                <span class="iconify mr-1" data-icon="solar-cart-3-linear" style="width: 32;height: 32;" ></span>Add to Cart</button>
              <% } %>
            <% } %>
        </div>
        
      </div>

    </div>

    <!-- Related Products -->
    <section class="mt-14">
      <h3 class="text-xl font-semibold mb-5">Related Products</h3>
      <div  class="scroll-x-div ">
        <!-- Card -->
         <% for( let i = 0; i < relatedProduct.length; i++ ) { %>
         <% for( let j = 0; j < relatedProduct[i].variants.length; j++ ) { %>
          <% if (!relatedProduct[i].categoryId.isDeleted && !relatedProduct[i].brandId.isDeleted) { %>
           <% if (!relatedProduct[i].isDeleted) { %>
            <% if (String(relatedProduct[i]._id) !== String(product._id)) { %>
                <div class="product-card mr-2 bg-white rounded-lg shadow-sm p-4 transition-all w-[240px] flex-shrink-0">
                  <div class="h-40 mb-3 relative">
                      <img src="<%= relatedProduct[i].variants[j].productImages[0] %>" alt="Product" class="w-full h-full object-contain">
                      <button class="absolute top-2 right-2 bg-white rounded-full p-2 shadow-md hover:bg-gray-100">
                          <i data-feather="heart" class="w-4 h-4"></i>
                      </button>
                      <a href="/product?id=<%= relatedProduct[i]._id %>&variant=<%= j%>">
                          <button class="absolute top-12 right-2 bg-white rounded-full p-2 shadow-md hover:bg-gray-100">
                              <i data-feather="eye" class="w-4 h-4"></i>
                          </button>
                      </a>
                  </div>
                  <h3 class="font-medium text-sm mb-1 truncate"><%= relatedProduct[i].productName  %></h3>
                  <div class="flex items-center mb-1">
                      <div class="text-yellow-400 flex">
                          <i data-feather="star" class="w-4 h-4 fill-current"></i>
                          <i data-feather="star" class="w-4 h-4 fill-current"></i>
                          <i data-feather="star" class="w-4 h-4 fill-current"></i>
                          <i data-feather="star" class="w-4 h-4 fill-current"></i>
                          <i data-feather="star" class="w-4 h-4 fill-current"></i>
                      </div>
                      <span class="text-gray-500 text-xs ml-1">(4,567)</span>
                  </div>
                  <div class="flex items-center mb-2">
                      <span class="font-regular text-xs">Brand : <a href="#" class="text-blue-700"><%= (relatedProduct[i].brandId.brandName) %></a></span>
                  </div>
                  <div class="flex items-center mb-2">
                      <span class="font-regular text-gray-400 text-xs">Size : <a href="#" ><%= (relatedProduct[i].variants[j].size) %></a></span>
                  </div>
                  <div class="flex items-center mb-2">
                      <span class="font-bold text-lg">$<%= (relatedProduct[i].variants[j].price ).toFixed(2) %></span>
                      <!-- <span class="text-gray-500 text-sm line-through ml-2">$</span>
                      <span class="text-green-600 text-xs font-medium ml-2">38% off</span> -->
                  </div>
                  <button class="w-full bg-yellow-400 hover:bg-yellow-500 text-gray-900 py-2 rounded-md font-medium text-sm flex items-center justify-center">
                      <i data-feather="shopping-cart" class="w-4 h-4 mr-2"></i> Add to Cart
                  </button>
              </div>  
                          
              <% } else {%>
                <% if (variant != j) { %>
                  <div class="product-card bg-white rounded-lg shadow-sm p-4 transition-all w-[240px] flex-shrink-0">
                    <div class="h-40 mb-3 relative">
                        <img src="<%= relatedProduct[i].variants[j].productImages[0] %>" alt="Product" class="w-full h-full object-contain">
                        <button class="absolute top-2 right-2 bg-white rounded-full p-2 shadow-md hover:bg-gray-100">
                            <i data-feather="heart" class="w-4 h-4"></i>
                        </button>
                        <a href="/product?id=<%= relatedProduct[i]._id %>&variant=<%= j%>">
                            <button class="absolute top-12 right-2 bg-white rounded-full p-2 shadow-md hover:bg-gray-100">
                                <i data-feather="eye" class="w-4 h-4"></i>
                            </button>
                        </a>
                    </div>
                    <h3 class="font-medium text-sm mb-1 truncate"><%= relatedProduct[i].productName  %></h3>
                    <div class="flex items-center mb-1">
                        <div class="text-yellow-400 flex">
                            <i data-feather="star" class="w-4 h-4 fill-current"></i>
                            <i data-feather="star" class="w-4 h-4 fill-current"></i>
                            <i data-feather="star" class="w-4 h-4 fill-current"></i>
                            <i data-feather="star" class="w-4 h-4 fill-current"></i>
                            <i data-feather="star" class="w-4 h-4 fill-current"></i>
                        </div>
                        <span class="text-gray-500 text-xs ml-1">(4,567)</span>
                    </div>
                    <div class="flex items-center mb-2">
                        <span class="font-regular text-xs">Brand : <a href="#" class="text-blue-700"><%= (relatedProduct[i].brandId.brandName) %></a></span>
                    </div>
                    <div class="flex items-center mb-2">
                        <span class="font-regular text-gray-400 text-xs">Size : <a href="#" ><%= (relatedProduct[i].variants[j].size) %></a></span>
                    </div>
                    <div class="flex items-center mb-2">
                        <span class="font-bold text-lg">$<%= (relatedProduct[i].variants[j].price ).toFixed(2) %></span>
                        <!-- <span class="text-gray-500 text-sm line-through ml-2"></span>
                        <span class="text-green-600 text-xs font-medium ml-2">38% off</span> -->
                    </div>
                    <% let isProductInCart = cartItems.find(item =>  String(relatedProduct[i]._id) === String(item.productId._id) && item.variant === j ) || null %>
                    <% if (isProductInCart) { %>
                        <div class="flex  justify-between ">
                        <button type="button" id="addToCartBtn<%= relatedProduct[i]._id %><%= j %>" class="w-[0%] bg-yellow-400 hover:bg-yellow-500 text-gray-900  rounded-md font-medium text-sm flex items-center justify-center" onclick="addToCartInitially(this,'<%- i %>','<%- j %>','<%- relatedProduct[i]._id %>','<%- j %>')">
                            <i data-feather="shopping-cart" class="w-4 h-4 mr-2"></i> 
                        </button>
                            <div id="incDecQtyDiv<%= relatedProduct[i]._id %><%= j %>" class="flex items-center justify-between w-[100%]  rounded-lg   border border-black w-full ">
                                <button id="decQtyBtn<%= relatedProduct[i]._id %><%= j %>" type="button" class="text-center flex justify-center w-full h-full bg-yellow-400 hover:bg-yellow-300 py-1 rounded-l-lg"  onclick="decrementQuantity('<%= i %>','<%= j %>','<%= relatedProduct[i]._id %>')">
                                    <i data-feather="minus"></i>
                                </button> 
                                <input type="text" id="quantity<%= relatedProduct[i]._id %><%= j %>" value="<%= isProductInCart.quantity %>" class=" w-[5rem] px-2 text-xl bg-white font-bold py-[0.22rem] border-black-x-sides text-center" >
                                <button id="incQtyBtn<%= relatedProduct[i]._id %><%= j %>" type="button" class="text-center flex justify-center w-full h-full py-1 bg-yellow-400 hover:bg-yellow-300 rounded-r-lg"  onclick="incrementQuantity('<%= i %>','<%= j %>','<%= relatedProduct[i]._id %>')">
                                    <i data-feather="plus"></i>
                                </button>
                            </div>
                        </div>
                <% } else {%>
                    <!-- <a  href="/home/cart?productId=&variant=&quantity=1"> -->
                        <div id="incDecQtyDiv<%= relatedProduct[i]._id %><%= j %>" class="flex items-center justify-between w-[100%] bg-yellow-400  border border-black rounded-lg hidden">
                            <button id="decQtyBtn<%= relatedProduct[i]._id %><%= j %>" type="button" class="text-center flex justify-center w-full h-full bg-yellow-400 hover:bg-yellow-300 py-1 rounded-l-lg" onclick="decrementQuantity('<%= i %>','<%= j %>','<%= relatedProduct[i]._id %>')">
                                <i data-feather="minus"></i>
                            </button> 
                            <input type="text" id="quantity<%= relatedProduct[i]._id %><%= j %>" value="1" class=" w-[5rem] bg-white px-2 text-xl  py-[0.22rem] border-black-x-sides text-center" >
                            <button id="incQtyBtn<%= relatedProduct[i]._id %><%= j %>" type="button" class="text-center flex justify-center w-full h-full py-1 bg-yellow-400 hover:bg-yellow-300 rounded-r-lg" onclick="incrementQuantity('<%= i %>','<%= j %>','<%= relatedProduct[i]._id %>')">
                                <i data-feather="plus"></i>
                            </button>
                        </div>
                        <button type="button" id="addToCartBtn<%= relatedProduct[i]._id %><%= j %>" class="w-full bg-yellow-400 hover:bg-yellow-500 text-gray-900 py-2 rounded-md font-medium text-sm flex items-center justify-center" onclick="addToCartInitially(this,'<%- i %>','<%- j %>','<%- relatedProduct[i]._id %>')">
                            <i data-feather="shopping-cart" class="w-4 h-4 mr-2"></i> Add to Cart
                        </button>
                <% } %>
                </div>  
                <% } %>
                <% }%>
             <% } %>
           <% } %>
         <% } %>
         <% } %>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <%- include("../partials/user-side/footer.ejs")%>
<script>
  feather.replace();
  function addToCartInitiallyFromProductPage(input,variant,productId){
        let cartItemQty = document.getElementById("cartItemQty")
        let cartItemsDiv = document.getElementById("cartItemsDiv")
        let myCartHead = document.getElementById("cartHeadItemCount")
        let subTotal = document.getElementById("subTotal")
        let nothingInCartCard = document.getElementById("nothingInCartCard")
        fetch(`/cart?productId=${productId}&variant=${variant}&quantity=1`,{method : "POST"})
        .then(res => res.json())
        .then(data => {
             
            if (data.message === "Product has been added to Cart") {
                input.classList.add("hidden")
                document.getElementById(`incDecQtyDiv`).classList.remove("hidden")
                if(Number(cartItemQty.innerText) === 0){
                    document.getElementById("checkoutBtn").disabled = false
                    document.getElementById("checkoutBtn").onclick = function(){ window.location.href = "/checkout" }
                    
                }
                cartItemQty.innerText = Number(cartItemQty.innerText) + 1
                myCartHead.innerText = Number(myCartHead.innerText) + 1
                if(nothingInCartCard){
                    nothingInCartCard.remove()
                }
                if(data.product.productName.length > 29){
                    data.product.productName = data.product.productName.slice(0,26) + "..."
                }
                cartItemsDiv.innerHTML = `<div id="cartItem${data.product._id}${variant}" >
                                            <input  type="text" value="${data.cart._id}" hidden></input>
                                            <div class="flex  border border-gray-400 w-[96%] text-left px-3 py-2 text-gray-700  rounded-lg m-2">
                                                <a href="/product?id=${data.product._id}&variant=${variant}" >
                                                    <div class="w-[6rem]">
                                                    <img src="${data.product.variants[variant].productImages[0]}" class="rounded-md mr-1 w-full border border-gray-400 "></img>
                                                   </div>
                                                </a>
                                               
                                                <div class="w-[78%] ml-1">
                                                      <a href="/product?id=${data.product._id}&variant=${variant}" >
                                                         <h1 class="font-bold text-black">${data.product.productName}</h1>
                                                         <p class="text-gray-600 text-xs">Color : <strong class="text-black">${data.product.variants[variant].color}</strong><span class="ml-2">Size : <strong class="text-black">${data.product.variants[variant].size}</strong></span></p>
                                                         <p class="text-sm text-gray-600 mt-[0.1rem]">Quantity : <strong class="text-black font-bold" id="cartItemQty${productId}${variant}">1</strong></p>
                                                     </a>
                                                    <div class="flex justify-between items-center mt-1">
                                                        <h2 class="text-lg text-black font-bold ">$ ${data.product.variants[variant].price}</h2>
                                                       
                                                            <button type="button" class="text-sm  flex items-center justify-center rounded-lg hover:text-red-500  px-2 z-50  text-black" onclick="deleteItemFromCartFromProductPage('${data.cart._id}','${data.product._id}',${variant})">
                                                                <i data-feather="trash-2" class="w-5 h-5 mr-1"></i>
                                                            </button>
                                                      
                                                    </div>
                                                </div> 
                                                
                                            </div>
                                        </div>` + cartItemsDiv.innerHTML
                    subTotal.innerText = (Number(subTotal.innerText) + data.product.variants[variant].price).toFixed(2)
                    feather.replace()
                    iziToast.info({
                        title : "Cart",
                        message : data.message,
                        position : "topRight"
                    })  
            }else if(data.message === "Out of Stock" || data.message === "Product Unavailable"){
                document.getElementById("incDecQtyDiv").classList.add("hidden")
                document.getElementById("buyNow").classList.add("hidden")
                input.classList.remove(...input.classList)
                input.classList.add("py-3")
                input.classList.add("px-2")
                input.classList.add("bg-red-400")
                input.classList.add("font-bold")
                input.classList.add("rounded-lg")
                input.innerHTML = ""
                input.innerText = data.message
                input.disabled = true
            }
        })
        .catch(error => {
            iziToast.error({
                title : "Error",
                message : error.message,
                position : "topRight"
            }) 
        })
    }
    function incrementQuantityFromProductPage(variantIndex,productId){
        let quantity = document.getElementById(`quantity${productId}${variantIndex}`)
        let addToCartBtn = document.getElementById(`addToCartBtn${productId}${variantIndex}`)
        let cartItemQtyToBeUpdated = document.getElementById(`cartItemQty${productId}${variantIndex}`)
        let myCartHead = document.getElementById("cartHeadItemCount")
        let cartItemQtyNotifier = document.getElementById("cartItemQty")
        let subTotal = document.getElementById("subTotal")
        let counter = parseInt(quantity.value)
        counter++
      
        if(counter > 10){
            iziToast.warning({
                title: "Quantity Limit Reached",
                message: "You can order up to a maximum of 10 items only.",
                position : "topRight"
            });
        }else{
            fetch(`/cart/update-cart-item?productId=${productId}&variant=${variantIndex}&quantity=${counter}`,{method : "PATCH"})
            .then(res => res.json())
            .then(data => {
                
                if (data.message === "Quantity has been updated in Cart") {
                    subTotal.innerText = (Number(subTotal.innerText) + ((counter * data.product.variants[variantIndex].price) - (Number(quantity.value) * data.product.variants[variantIndex].price))).toFixed(2)
                    quantity.value = counter
                    cartItemQtyToBeUpdated.innerText = Number(cartItemQtyToBeUpdated.innerText) + 1
                    cartItemQtyNotifier.innerText = Number(cartItemQtyNotifier.innerText) + 1
                    myCartHead.innerText = Number(myCartHead.innerText) + 1
                    feather.replace()
                    
                }else if(data.message === "Out of Stock" || data.message === "Product Unavailable"){
                    document.getElementById("incDecQtyDiv").classList.add("hidden")
                    document.getElementById("buyNow").classList.add("hidden")
                    addToCartBtn.classList.remove(...addToCartBtn.classList)
                    addToCartBtn.classList.add("py-3")
                    addToCartBtn.classList.add("bg-red-400")
                    addToCartBtn.classList.add("font-bold")
                    addToCartBtn.classList.add("px-2")
                    addToCartBtn.classList.add("rounded-lg")
                    addToCartBtn.innerHTML = ""
                    addToCartBtn.innerText = data.message
                    cartItemQtyToBeUpdated.classList.remove("text-black")
                    cartItemQtyToBeUpdated.classList.add("text-red-500")
                    cartItemQtyToBeUpdated.innerText = data.message
                    cartItemQtyNotifier.innerText = Number(cartItemQtyNotifier.innerText) - Number(quantity.value)
                    myCartHead.innerText = Number(myCartHead.innerText) - Number(quantity.value)
                    iziToast.error({
                        title : "Cart",
                        message : data.specMessage,
                        position : "topRight"
                    })
                   
                }else{
                    iziToast.info({
                        title : "Cart",
                        message : data.message,
                        position : "topRight"
                    })
                    
                }
                
                
            })
            .catch(error => {
                console.log(error)
            })
           
            
        }
        
    }
    function decrementQuantityFromProductPage(variantIndex,productId){
        let quantity = document.getElementById(`quantity${productId}${variantIndex}`)
        let addToCartBtn = document.getElementById(`addToCartBtn${productId}${variantIndex}`)
        let cartItemQtyToBeUpdated = document.getElementById(`cartItemQty${productId}${variantIndex}`)
        let myCartHead = document.getElementById("cartHeadItemCount")
        let cartItemQtyNotifier = document.getElementById("cartItemQty")
        let subTotal = document.getElementById("subTotal")
        let cartItem = document.getElementById(`cartItem${productId}${variantIndex}`)
        let cartId = document.querySelector(`#cartItem${productId}${variantIndex} input`).value
        let counter = parseInt(quantity.value)
        counter --
        if(counter < 1){
            
                fetch(`/cart/delete-cart-item?cartItemId=${cartId}&productId=${productId}`,{method : "DELETE"})
                .then(res => res.json())
                .then(data => {
                addToCartBtn.classList.remove("hidden")
                document.getElementById(`incDecQtyDiv`).classList.add("hidden")
                myCartHead.innerText = Number(myCartHead.innerText) - 1
                cartItemQtyNotifier.innerText = Number(cartItemQtyNotifier.innerText) - 1
                subTotal.innerText = (Number(subTotal.innerText) - ( (Number(quantity.value) * data.product.variants[variantIndex].price) - (counter * data.product.variants[variantIndex].price))).toFixed(2)
                cartItem.remove()
                if(Number(cartItemQtyNotifier.innerText) === 0){
                    document.getElementById("checkoutBtn").disabled = true
                }
                if(document.getElementById("cartItemsDiv").children.length === 0){
                    document.getElementById("cartItemsDiv").innerHTML = `<div id="nothingInCartCard" class="flex  items-center justify-center border border-gray-400 w-[96%] text-left px-3 py-8 text-gray-700  rounded-lg m-2">
                                                                    <h1 class="font-bold">
                                                                        Your cart is empty. Start shopping!
                                                                    </h1>
                                                                </div>`
                }
                feather.replace()
                iziToast.info({
                    title: "Cart",
                    message: data.message,
                    position : "topRight"
                });
                })
        }else{
            fetch(`/cart/update-cart-item?productId=${productId}&variant=${variantIndex}&quantity=${counter}`,{method : "PATCH"})
            .then(res => res.json())
            .then(data => {
               if (data.message === "Quantity has been updated in Cart") {
                subTotal.innerText = (Number(subTotal.innerText) - ( (Number(quantity.value) * data.product.variants[variantIndex].price) - (counter * data.product.variants[variantIndex].price))).toFixed(2)
                quantity.value = counter
                cartItemQtyToBeUpdated.innerText = Number(cartItemQtyToBeUpdated.innerText) - 1
                cartItemQtyNotifier.innerText = Number(cartItemQtyNotifier.innerText) - 1
                myCartHead.innerText = Number(myCartHead.innerText) - 1
               } else if (data.message === "Out of Stock" || data.message === "Product Unavailable"){
                document.getElementById("incDecQtyDiv").classList.add("hidden")
                    document.getElementById("buyNow").classList.add("hidden")
                    addToCartBtn.classList.remove(...addToCartBtn.classList)
                    addToCartBtn.classList.add("py-3")
                    addToCartBtn.classList.add("bg-red-400")
                    addToCartBtn.classList.add("font-bold")
                    addToCartBtn.classList.add("px-2")
                    addToCartBtn.classList.add("rounded-lg")
                    addToCartBtn.innerHTML = ""
                    addToCartBtn.innerText = data.message
                    cartItemQtyToBeUpdated.classList.remove("text-black")
                    cartItemQtyToBeUpdated.classList.add("text-red-500")
                    cartItemQtyToBeUpdated.innerText = data.message
                    cartItemQtyNotifier.innerText = Number(cartItemQtyNotifier.innerText) - Number(quantity.value)
                    myCartHead.innerText = Number(myCartHead.innerText) - Number(quantity.value)
                    iziToast.error({
                        title : "Cart",
                        message : data.specMessage,
                        position : "topRight"
                    })
               }else{
                
               }
            })
            .catch(error => {
                console.log(error)
            })
        }
        
    }
    function deleteItemFromCartFromProductPage(cartId,productId,variantIndex) {
        let quantity = document.getElementById(`quantity${productId}${variantIndex}`)
        let addToCartBtn = document.getElementById(`addToCartBtn${productId}${variantIndex}`)
        let myCartHead = document.getElementById("cartHeadItemCount")
        let cartItemQtyNotifier = document.getElementById("cartItemQty")
        let subTotal = document.getElementById("subTotal")
        let cartItem = document.getElementById(`cartItem${productId}${variantIndex}`)
        fetch(`/cart/delete-cart-item?cartItemId=${cartId}&productId=${productId}`,{method : "DELETE"})
                .then(res => res.json())
                .then(data => {
                    addToCartBtn.classList.remove("hidden")
                document.getElementById(`incDecQtyDiv`).classList.add("hidden")
                myCartHead.innerText = Number(myCartHead.innerText) - Number(quantity.value)
                cartItemQtyNotifier.innerText = Number(cartItemQtyNotifier.innerText) - Number(quantity.value)
                quantity.value = 1
                subTotal.innerText = (Number(subTotal.innerText) -  (Number(quantity.value) * data.product.variants[variantIndex].price) ).toFixed(2)
                cartItem.remove()
                if(document.getElementById("cartItemsDiv").children.length === 0){
                    document.getElementById("cartItemsDiv").innerHTML = `<div id="nothingInCartCard" class="flex  items-center justify-center border border-gray-400 w-[96%] text-left px-3 py-8 text-gray-700  rounded-lg m-2">
                                                                    <h1 class="font-bold">
                                                                        Your cart is empty. Start shopping!
                                                                    </h1>
                                                                </div>`
                }
                feather.replace()
                iziToast.info({
                    title: "Cart",
                    message: data.message,
                    position : "topRight"
                });
                })
    }








        const mainImage = document.getElementById("mainImage");
        const thumbnails = document.querySelectorAll(".thumbnail");
        let imageZoom = document.getElementById("imageZoom")
        thumbnails.forEach(thumbnail => {
        thumbnail.addEventListener("click", () => {
            // Update main image source
            mainImage.src = thumbnail.src;
            imageZoom.style.setProperty("--url",`url(${thumbnail.src})`)
        });
        });
        imageZoom.addEventListener("mousemove",(event) => {
          imageZoom.style.setProperty("--display","block")
          let pointer = {
            x : (event.offsetX * 100) / imageZoom.offsetWidth,
            y : (event.offsetY * 100) / imageZoom.offsetHeight
          }
         imageZoom.style.setProperty("--zoom-x",pointer.x + "%")
         imageZoom.style.setProperty("--zoom-y",pointer.y + "%")
        })
        imageZoom.addEventListener("mouseout",(event) => {
          imageZoom.style.setProperty("--display","none")
        })
 </script>
</body>
</html>
